# 데이터 불러오기

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import seaborn as sns

In [ ]:
import pandas as pd

# 데이터 불러오기
file_path = "/content/drive/MyDrive/BREAST1.csv"
df = pd.read_csv(file_path)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309044 entries, 0 to 309043
Data columns (total 24 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Sex                     309044 non-null  object
 1   Age                     309044 non-null  object
 2   Race                    309044 non-null  object
 3   Marital status          309044 non-null  object
 4   ER                      309044 non-null  object
 5   HER2                    309044 non-null  object
 6   PR                      309044 non-null  object
 7   T/N/M Stage             309044 non-null  object
 8   Behavior code           309044 non-null  object
 9   Sequence number         309044 non-null  object
 10  Chemotherapy            309044 non-null  object
 11  Mets all                309044 non-null  object
 12  Mets at bone            309044 non-null  object
 13  Mets at brain           309044 non-null  object
 14  Mets at liver           309044 non-null  object
 15  Mets at lung            309044 non-null  object
 16  Radiation               309044 non-null  object
 17  Surgery Oth Reg/Dis     309044 non-null  object
 18  Surgery Prim Site       309044 non-null  int64
 19  Rural-Urban             309044 non-null  object
 20  cancer treatment delay  309044 non-null  object
 21  Income                  309044 non-null  object
 22  Survival months         309044 non-null  int64
 23  Cancer Site             309044 non-null  object
dtypes: int64(2), object(22)
memory usage: 56.6+ MB

In [ ]:
df.columns

Index(['Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'Chemotherapy',
       'Mets all', 'Mets at bone', 'Mets at brain', 'Mets at liver',
       'Mets at lung', 'Radiation', 'Surgery Oth Reg/Dis', 'Surgery Prim Site',
       'Rural-Urban', 'cancer treatment delay', 'Income', 'Survival months',
       'Cancer Site'],
      dtype='object')

In [ ]:
# 기술 통계 확인
df.describe()

       Surgery Prim Site  Survival months
count      309044.000000    309044.000000
mean           27.623594        26.606431
std            14.314566        17.251222
min             0.000000         0.000000
25%            22.000000        12.000000
50%            22.000000        25.000000
75%            41.000000        41.000000
max            99.000000        59.000000

#Pandas Profiling(EDA)

In [ ]:
!pip install -U pandas-profiling
# 세션 다시 시작

Collecting pandas-profiling
  Downloading pandas_profiling-3.2.0-py2.py3-none-any.whl.metadata (21 kB)
Collecting joblib~=1.1.0 (from pandas-profiling)
  Downloading joblib-1.1.1-py2.py3-none-any.whl.metadata (5.2 kB)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.12/dist-packages (from pandas-profiling) (1.16.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /usr/local/lib/python3.12/dist-packages (from pandas-profiling) (2.2.2)
Requirement already satisfied: matplotlib>=3.2.0 in /usr/local/lib/python3.12/dist-packages (from pandas-profiling) (3.10.0)
Requirement already satisfied: pydantic>=1.8.1 in /usr/local/lib/python3.12/dist-packages (from pandas-profiling) (2.11.7)
Requirement already satisfied: PyYAML>=5.0.0 in /usr/local/lib/python3.12/dist-packages (from pandas-profiling) (6.0.2)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.12/dist-packages (from pandas-profiling) (3.1.6)
Collecting markupsafe~=2.1.1 (from pandas-profiling)
  Downloading MarkupSafe-2.1.5-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.0 kB)
Collecting visions==0.7.4 (from visions[type_image_path]==0.7.4->pandas-profiling)
  Downloading visions-0.7.4-py3-none-any.whl.metadata (5.9 kB)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.12/dist-packages (from pandas-profiling) (2.0.2)
Collecting htmlmin>=0.1.12 (from pandas-profiling)
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.12/dist-packages (from pandas-profiling) (0.5.2)
Collecting phik>=0.11.1 (from pandas-profiling)
  Downloading phik-0.12.5-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (5.6 kB)
Collecting tangled-up-in-unicode==0.2.0 (from pandas-profiling)
  Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl.metadata (4.8 kB)
Requirement already satisfied: requests>=2.24.0 in /usr/local/lib/python3.12/dist-packages (from pandas-profiling) (2.32.4)
Requirement already satisfied: tqdm>=4.48.2 in /usr/local/lib/python3.12/dist-packages (from pandas-profiling) (4.67.1)
Requirement already satisfied: seaborn>=0.10.1 in /usr/local/lib/python3.12/dist-packages (from pandas-profiling) (0.13.2)
Collecting multimethod>=1.4 (from pandas-profiling)
  Downloading multimethod-2.0-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.12/dist-packages (from visions==0.7.4->visions[type_image_path]==0.7.4->pandas-profiling) (25.3.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.12/dist-packages (from visions==0.7.4->visions[type_image_path]==0.7.4->pandas-profiling) (3.5)
Collecting imagehash (from visions[type_image_path]==0.7.4->pandas-profiling)
  Downloading ImageHash-4.3.2-py2.py3-none-any.whl.metadata (8.4 kB)
Requirement already satisfied: Pillow in /usr/local/lib/python3.12/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (11.3.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (4.59.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (25.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2025.2)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic>=1.8.1->pandas-profiling) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /usr/local/lib/python3.12/dist-packages (from pydantic>=1.8.1->pandas-profiling) (2.33.2)
Requirement already satisfied: typing-extensions>=4.12.2 in /usr/local/lib/python3.12/dist-packages (from pydantic>=1.8.1->pandas-profiling) (4.14.1)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.12/dist-packages (from pydantic>=1.8.1->pandas-profiling) (0.4.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.24.0->pandas-profiling) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests>=2.24.0->pandas-profiling) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests>=2.24.0->pandas-profiling) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests>=2.24.0->pandas-profiling) (2025.8.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib>=3.2.0->pandas-profiling) (1.17.0)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.12/dist-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling) (1.9.0)
Downloading pandas_profiling-3.2.0-py2.py3-none-any.whl (262 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 262.6/262.6 kB 6.8 MB/s eta 0:00:00
Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 56.8 MB/s eta 0:00:00
Downloading visions-0.7.4-py3-none-any.whl (102 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 102.4/102.4 kB 8.0 MB/s eta 0:00:00
Downloading joblib-1.1.1-py2.py3-none-any.whl (309 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 309.8/309.8 kB 21.2 MB/s eta 0:00:00
Downloading MarkupSafe-2.1.5-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (28 kB)
Downloading multimethod-2.0-py3-none-any.whl (9.8 kB)
Downloading phik-0.12.5-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (679 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 679.7/679.7 kB 32.6 MB/s eta 0:00:00
Downloading ImageHash-4.3.2-py2.py3-none-any.whl (296 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 296.7/296.7 kB 19.4 MB/s eta 0:00:00
Building wheels for collected packages: htmlmin
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27081 sha256=c888865e8e4826444e12150ced4ab181ca18c769717f16e36a1333098c2a6935
  Stored in directory: /root/.cache/pip/wheels/5f/d4/d7/4189b07b5902ee9f3ce0dbb14909fbe8037c39d6c63ffd49c9
Successfully built htmlmin
Installing collected packages: htmlmin, tangled-up-in-unicode, multimethod, markupsafe, joblib, imagehash, visions, phik, pandas-profiling
  Attempting uninstall: markupsafe
    Found existing installation: MarkupSafe 3.0.2
    Uninstalling MarkupSafe-3.0.2:
      Successfully uninstalled MarkupSafe-3.0.2
  Attempting uninstall: joblib
    Found existing installation: joblib 1.5.1
    Uninstalling joblib-1.5.1:
      Successfully uninstalled joblib-1.5.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
scikit-learn 1.6.1 requires joblib>=1.2.0, but you have joblib 1.1.1 which is incompatible.
imbalanced-learn 0.14.0 requires joblib<2,>=1.2.0, but you have joblib 1.1.1 which is incompatible.
Successfully installed htmlmin-0.1.12 imagehash-4.3.2 joblib-1.1.1 markupsafe-2.1.5 multimethod-2.0 pandas-profiling-3.2.0 phik-0.12.5 tangled-up-in-unicode-0.2.0 visions-0.7.4

In [ ]:
!pip install ydata-profiling

Collecting ydata-profiling
  Downloading ydata_profiling-4.16.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting scipy<1.16,>=1.4.1 (from ydata-profiling)
  Downloading scipy-1.15.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.0/62.0 kB 373.3 kB/s eta 0:00:00
Requirement already satisfied: pandas!=1.4.0,<3.0,>1.1 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (2.2.2)
Requirement already satisfied: matplotlib<=3.10,>=3.5 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (3.10.0)
Requirement already satisfied: pydantic>=2 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (2.11.7)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (6.0.2)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (3.1.6)
Collecting visions<0.8.2,>=0.7.5 (from visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling)
  Downloading visions-0.8.1-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.2,>=1.16.0 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (2.0.2)
Requirement already satisfied: htmlmin==0.1.12 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (0.12.5)
Requirement already satisfied: requests<3,>=2.24.0 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (2.32.4)
Requirement already satisfied: tqdm<5,>=4.48.2 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (4.67.1)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (0.13.2)
Collecting multimethod<2,>=1.4 (from ydata-profiling)
  Downloading multimethod-1.12-py3-none-any.whl.metadata (9.6 kB)
Requirement already satisfied: statsmodels<1,>=0.13.2 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (0.14.5)
Requirement already satisfied: typeguard<5,>=3 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (4.4.4)
Collecting imagehash==4.3.1 (from ydata-profiling)
  Downloading ImageHash-4.3.1-py2.py3-none-any.whl.metadata (8.0 kB)
Requirement already satisfied: wordcloud>=1.9.3 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (1.9.4)
Collecting dacite>=1.8 (from ydata-profiling)
  Downloading dacite-1.9.2-py3-none-any.whl.metadata (17 kB)
Requirement already satisfied: numba<=0.61,>=0.56.0 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (0.60.0)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.12/dist-packages (from imagehash==4.3.1->ydata-profiling) (1.9.0)
Requirement already satisfied: pillow in /usr/local/lib/python3.12/dist-packages (from imagehash==4.3.1->ydata-profiling) (11.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (2.1.5)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (4.59.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (25.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (2.9.0.post0)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in /usr/local/lib/python3.12/dist-packages (from numba<=0.61,>=0.56.0->ydata-profiling) (0.43.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling) (2025.2)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/lib/python3.12/dist-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.1.1)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2->ydata-profiling) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2->ydata-profiling) (2.33.2)
Requirement already satisfied: typing-extensions>=4.12.2 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2->ydata-profiling) (4.14.1)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2->ydata-profiling) (0.4.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.24.0->ydata-profiling) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.24.0->ydata-profiling) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.24.0->ydata-profiling) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.24.0->ydata-profiling) (2025.8.3)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.12/dist-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (1.0.1)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.12/dist-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (25.3.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.12/dist-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (3.5)
Collecting puremagic (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling)
  Downloading puremagic-1.30-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib<=3.10,>=3.5->ydata-profiling) (1.17.0)
Downloading ydata_profiling-4.16.1-py2.py3-none-any.whl (400 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 400.1/400.1 kB 8.0 MB/s eta 0:00:00
Downloading ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 296.5/296.5 kB 13.1 MB/s eta 0:00:00
Downloading dacite-1.9.2-py3-none-any.whl (16 kB)
Downloading multimethod-1.12-py3-none-any.whl (10 kB)
Downloading scipy-1.15.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (37.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 37.3/37.3 MB 38.2 MB/s eta 0:00:00
Downloading visions-0.8.1-py3-none-any.whl (105 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 105.4/105.4 kB 5.1 MB/s eta 0:00:00
Downloading puremagic-1.30-py3-none-any.whl (43 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.3/43.3 kB 3.2 MB/s eta 0:00:00
Installing collected packages: puremagic, scipy, multimethod, dacite, imagehash, visions, ydata-profiling
  Attempting uninstall: scipy
    Found existing installation: scipy 1.16.1
    Uninstalling scipy-1.16.1:
      Successfully uninstalled scipy-1.16.1
  Attempting uninstall: multimethod
    Found existing installation: multimethod 2.0
    Uninstalling multimethod-2.0:
      Successfully uninstalled multimethod-2.0
  Attempting uninstall: imagehash
    Found existing installation: ImageHash 4.3.2
    Uninstalling ImageHash-4.3.2:
      Successfully uninstalled ImageHash-4.3.2
  Attempting uninstall: visions
    Found existing installation: visions 0.7.4
    Uninstalling visions-0.7.4:
      Successfully uninstalled visions-0.7.4
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pandas-profiling 3.2.0 requires visions[type_image_path]==0.7.4, but you have visions 0.8.1 which is incompatible.
scikit-learn 1.6.1 requires joblib>=1.2.0, but you have joblib 1.1.1 which is incompatible.
imbalanced-learn 0.14.0 requires joblib<2,>=1.2.0, but you have joblib 1.1.1 which is incompatible.
Successfully installed dacite-1.9.2 imagehash-4.3.1 multimethod-1.12 puremagic-1.30 scipy-1.15.3 visions-0.8.1 ydata-profiling-4.16.1

In [ ]:
import seaborn as sns
import pandas as pd

In [ ]:
# profiling
import pandas as pd
import ydata_profiling
pr = df.profile_report() # 프로파일링 결과 리포트를 pr에 저장
pr.to_file('./df_report.html') # pr_report.html 파일로 저장

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/24 [00:00<?, ?it/s]
  4%|▍         | 1/24 [00:02<00:48,  2.12s/it]
 12%|█▎        | 3/24 [00:05<00:35,  1.70s/it]
 21%|██        | 5/24 [00:07<00:24,  1.28s/it]
 29%|██▉       | 7/24 [00:08<00:18,  1.10s/it]
 38%|███▊      | 9/24 [00:10<00:15,  1.01s/it]
 46%|████▌     | 11/24 [00:12<00:12,  1.02it/s]
 54%|█████▍    | 13/24 [00:13<00:10,  1.09it/s]
 62%|██████▎   | 15/24 [00:15<00:08,  1.06it/s]
 67%|██████▋   | 16/24 [00:16<00:06,  1.24it/s]
 71%|███████   | 17/24 [00:18<00:08,  1.22s/it]
 79%|███████▉  | 19/24 [00:19<00:04,  1.21it/s]
 83%|████████▎ | 20/24 [00:20<00:03,  1.09it/s]
 92%|█████████▏| 22/24 [00:21<00:01,  1.21it/s]
100%|██████████| 24/24 [00:22<00:00,  1.08it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# 전처리

In [ ]:

# 분석 대상 열 목록
columns_to_check = [
   'Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'Chemotherapy',
       'Mets all', 'Mets at bone', 'Mets at brain', 'Mets at liver',
       'Mets at lung', 'Radiation', 'Surgery Oth Reg/Dis', 'Surgery Prim Site',
       'Rural-Urban', 'cancer treatment delay', 'Income', 'Survival months',
       'Cancer Site'
]

# 컬럼별 고유값 카운트 출력
for col in columns_to_check:
    print(f"\n===== [{col}] =====")
    print(df[col].value_counts(dropna=False))  # NaN 포함해서 카운트

===== [Sex] =====
Sex
Female    306641
Male        2403
Name: count, dtype: int64

===== [Age] =====
Age
65-69 years    45109
60-64 years    41898
70-74 years    41512
55-59 years    35023
50-54 years    30191
75-79 years    28290
45-49 years    25334
80-84 years    17008
40-44 years    16964
85-89 years     9023
35-39 years     8669
90+ years       4247
30-34 years     4185
25-29 years     1390
20-24 years      187
15-19 years       13
05-09 years        1
Name: count, dtype: int64

===== [Race] =====
Race
White                            237361
Black                             33594
Asian or Pacific Islander         33237
Unknown                            2558
American Indian/Alaska Native      2294
Name: count, dtype: int64

===== [Marital status] =====
Marital status
Married (including common law)    171937
Never married                      49652
Widowed                            38557
Divorced                           32988
Unknown                            10289
Separated                           3270
Unmarried or Domestic Partner       2351
Name: count, dtype: int64

===== [ER] =====
ER
Positive    262732
Negative     46312
Name: count, dtype: int64

===== [HER2] =====
HER2
Negative    268075
Positive     40969
Name: count, dtype: int64

===== [PR] =====
PR
Positive    229616
Negative     79428
Name: count, dtype: int64

===== [T/N/M Stage] =====
T/N/M Stage
1A    177101
1B     48244
2A     27899
4      17557
2B     13880
3B      8620
3A      7908
0       3924
3C      3911
Name: count, dtype: int64

===== [Behavior code] =====
Behavior code
Malignant    305214
In situ        3830
Name: count, dtype: int64

===== [Sequence number] =====
Sequence number
One primary only              228428
2nd of 2 or more primaries     49645
1st of 2 or more primaries     20442
3rd of 3 or more primaries      8800
4th of 4 or more primaries      1441
5th of 5 or more primaries       288
Name: count, dtype: int64

===== [Chemotherapy] =====
Chemotherapy
No/Unknown    196793
Yes           112251
Name: count, dtype: int64

===== [Mets all] =====
Mets all
None; no other metastases    305821
distant                        3181
general                          42
Name: count, dtype: int64

===== [Mets at bone] =====
Mets at bone
No         297165
Yes         11757
Unknown       122
Name: count, dtype: int64

===== [Mets at brain] =====
Mets at brain
No         307543
Yes          1282
Unknown       219
Name: count, dtype: int64

===== [Mets at liver] =====
Mets at liver
No         304760
Yes          4138
Unknown       146
Name: count, dtype: int64

===== [Mets at lung] =====
Mets at lung
No         303683
Yes          5136
Unknown       225
Name: count, dtype: int64

===== [Radiation] =====
Radiation
Beam radiation                                           164190
None/Unknown                                             120536
Refused (1988+)                                           13455
Recommended, unknown if administered                       7094
Radioactive implants (includes brachytherapy) (1988+)      3072
Radiation, NOS  method or source not specified              493
Combination of beam with implants or isotopes               181
Radioisotopes (1988+)                                        23
Name: count, dtype: int64

===== [Surgery Oth Reg/Dis] =====
Surgery Oth Reg/Dis
0                                                               302455
Non-primary surgical procedure performed                          2546
Non-primary surgical procedure to other regional sites            1698
Non-primary surgical procedure to distant site                    1590
Non-primary surgical procedure to distant lymph node(s)            440
Unknown; death certificate only                                    164
Any combo of sur proc to oth rg, dis lym nd, and/or dis site       151
Name: count, dtype: int64

===== [Surgery Prim Site] =====
Surgery Prim Site
22    128072
41     29873
0      27814
20     19039
23     17010
42     11789
30     11242
51     10869
24      9496
49      6548
45      5234
40      4534
47      3874
48      3830
52      3210
44      3200
43      3110
21      1295
50      1141
46      1002
59       953
55       785
75       753
57       654
53       600
58       553
54       513
99       422
80       361
61       306
56       165
62       143
19       118
63       115
90       105
60        68
76        49
68        33
64        32
69        29
66        22
65        18
73        14
74        13
67        12
72        10
70        10
71         6
Name: count, dtype: int64

===== [Rural-Urban] =====
Rural-Urban
Large Metro                                                     194135
Counties in metropolitan areas of 250,000 to 1 million pop       62416
Counties in metropolitan areas of lt 250 thousand pop            21562
Nonmetropolitan counties adjacent to a metropolitan area         19253
Nonmetropolitan counties not adjacent to a metropolitan area     11302
Unknown/missing/no match (Alaska or Hawaii - Entire State)         369
Unknown/missing/no match/Not 1990-2023                               7
Name: count, dtype: int64

===== [cancer treatment delay] =====
cancer treatment delay
0                      23509
Unable to calculate     9362
28                      7896
35                      7673
27                      6645
                       ...
533                        1
675                        1
528                        1
471                        1
479                        1
Name: count, Length: 519, dtype: int64

===== [Income] =====
Income
$85,000 - $89,999                         53850
$120,000+                                 42324
$100,000 - $109,999                       33450
$80,000 - $84,999                         26515
$110,000 - $119,999                       22274
$65,000 - $69,999                         22197
$75,000 - $79,999                         20939
$95,000 - $99,999                         20461
$90,000 - $94,999                         15659
$60,000 - $64,999                         11885
$55,000 - $59,999                         10651
$70,000 - $74,999                         10147
$50,000 - $54,999                          9057
$45,000 - $49,999                          5177
$40,000 - $44,999                          2531
< $40,000                                  1920
Unknown/missing/no match/Not 1990-2023        7
Name: count, dtype: int64

===== [Survival months] =====
Survival months
9     7057
6     6805
4     6707
2     6578
1     6499
10    6481
3     6418
18    6357
0     6349
12    6299
16    6255
8     6247
14    6224
13    6181
7     6180
20    6026
11    6018
15    5895
21    5839
5     5786
17    5726
19    5655
26    5550
24    5358
22    5353
27    5335
23    5271
25    5211
29    5116
38    5108
34    5002
35    4921
41    4861
37    4764
33    4737
36    4723
28    4717
43    4706
40    4689
50    4669
44    4611
52    4578
42    4561
46    4540
45    4489
39    4469
47    4418
30    4299
49    4220
56    4129
54    4114
48    4090
53    4063
58    4016
55    3916
51    3816
57    3783
59    3666
31    2872
32    2721
Name: count, dtype: int64

===== [Cancer Site] =====
Cancer Site
Breast    309044
Name: count, dtype: int64

##RACE [True=1, False=0]

In [ ]:
df['Race'].value_counts()

Race
White                            237361
Black                             33594
Asian or Pacific Islander         33237
Unknown                            2558
American Indian/Alaska Native      2294
Name: count, dtype: int64

In [ ]:
# Race 변수 처리
df['Race_grouped'] = df['Race'].replace({
    'Unknown': 'Other (Unknown/AIAN)',
    'American Indian/Alaska Native': 'Other (Unknown/AIAN)'
})

In [ ]:
print(df['Race_grouped'].value_counts())

Race_grouped
White                        237361
Black                         33594
Asian or Pacific Islander     33237
Other (Unknown/AIAN)           4852
Name: count, dtype: int64

In [ ]:
# Race>> Race_grouped 이름 변경

In [ ]:
# Race_grouped만 원-핫 인코딩
race_dummies = pd.get_dummies(df['Race_grouped'], prefix='Race')

In [ ]:
print(race_dummies)

        Race_Asian or Pacific Islander  Race_Black  Race_Other (Unknown/AIAN)  \
0                                False       False                      False
1                                False       False                      False
2                                False       False                      False
3                                 True       False                      False
4                                 True       False                      False
...                                ...         ...                        ...
309039                            True       False                      False
309040                           False       False                      False
309041                           False       False                      False
309042                           False        True                      False
309043                           False       False                      False

        Race_White
0             True
1             True
2             True
3            False
4            False
...            ...
309039       False
309040        True
309041        True
309042       False
309043        True

[309037 rows x 4 columns]

In [ ]:
# 원-핫 인코딩 후 0/1 숫자로 변환
marital_dummies = pd.get_dummies(df['Race_grouped'], prefix='Race').astype(int)

In [ ]:
print(marital_dummies)

        Race_Asian or Pacific Islander  Race_Black  Race_Other (Unknown/AIAN)  \
0                                    0           0                          0
1                                    0           0                          0
2                                    0           0                          0
3                                    1           0                          0
4                                    1           0                          0
...                                ...         ...                        ...
309039                               1           0                          0
309040                               0           0                          0
309041                               0           0                          0
309042                               0           1                          0
309043                               0           0                          0

        Race_White
0                1
1                1
2                1
3                0
4                0
...            ...
309039           0
309040           1
309041           1
309042           0
309043           1

[309037 rows x 4 columns]

##SEX [Male: 0, 'Female:1 ]

In [ ]:
df['Sex'].value_counts()

Sex
Female    306641
Male        2403
Name: count, dtype: int64

In [ ]:
df['Sex'] = df['Sex'].map({'Male': 0, 'Female': 1})

In [ ]:
print(df['Sex'].value_counts())

Sex
1    306634
0      2403
Name: count, dtype: int64

##AGE(연속형 그대로 사용)

In [ ]:
df['Age'].value_counts()

Age
65-69 years    45109
60-64 years    41898
70-74 years    41512
55-59 years    35023
50-54 years    30191
75-79 years    28290
45-49 years    25334
80-84 years    17008
40-44 years    16964
85-89 years     9023
35-39 years     8669
90+ years       4247
30-34 years     4185
25-29 years     1390
20-24 years      187
15-19 years       13
05-09 years        1
Name: count, dtype: int64

years 제외했습니닥 !!!!!!!!!

In [ ]:
# Age 그룹화 함수
def age_group(age):
    if age <= 29:
        return "0-29"
    elif age >= 85:
        return "85+"
    else:
        return f"{(age//5)*5}-{(age//5)*5 + 4}"

# 숫자만 추출 후 그룹화
df['Age_group'] = df['Age'].str.extract(r'(\d+)').astype(int)[0].apply(age_group)

print(df['Age_group'].value_counts().sort_index())

Age_group
0-29      1591
30-34     4185
35-39     8669
40-44    16964
45-49    25334
50-54    30191
55-59    35023
60-64    41898
65-69    45109
70-74    41512
75-79    28290
80-84    17008
85+      13270
Name: count, dtype: int64

In [ ]:
# Age>> Age_group 이름 변경

## Marital [True=1, False=0]

In [ ]:
df['Marital status'].value_counts()

Marital status
Married (including common law)    171937
Never married                      49652
Widowed                            38557
Divorced                           32988
Unknown                            10289
Separated                           3270
Unmarried or Domestic Partner       2351
Name: count, dtype: int64

In [ ]:
# 매핑 딕셔너리 정의
marital_map = {
    'Married (including common law)': 'Married',
    'Divorced': 'Previously Married',
    'Separated': 'Previously Married',
    'Widowed': 'Previously Married',
    'Never married': 'Single/Other',
    'Unknown': 'Single/Other',
    'Unmarried or Domestic Partner': 'Single/Other'
}

# 새 컬럼 생성
df['Marital_group'] = df['Marital status'].replace(marital_map)

# 결과 확인
print(df['Marital_group'].value_counts())

Marital_group
Married               171937
Previously Married     74815
Single/Other           62292
Name: count, dtype: int64

In [ ]:
#Marital_group 로 이름 변경

In [ ]:
# Marital_group만 원-핫 인코딩
marital_dummies = pd.get_dummies(df['Marital_group'], prefix='Marital')

In [ ]:
print(marital_dummies)

        Marital_Married  Marital_Previously Married  Marital_Single/Other
0                 False                       False                  True
1                 False                        True                 False
2                 False                       False                  True
3                 False                        True                 False
4                  True                       False                 False
...                 ...                         ...                   ...
309039            False                        True                 False
309040             True                       False                 False
309041            False                        True                 False
309042            False                        True                 False
309043            False                        True                 False

[309037 rows x 3 columns]

In [ ]:
# 원-핫 인코딩 후 0/1 숫자로 변환
marital_dummies = pd.get_dummies(df['Marital_group'], prefix='Marital').astype(int)

In [ ]:
print(marital_dummies)

        Marital_Married  Marital_Previously Married  Marital_Single/Other
0                     0                           0                     1
1                     0                           1                     0
2                     0                           0                     1
3                     0                           1                     0
4                     1                           0                     0
...                 ...                         ...                   ...
309039                0                           1                     0
309040                1                           0                     0
309041                0                           1                     0
309042                0                           1                     0
309043                0                           1                     0

[309037 rows x 3 columns]

##Income(연속형 그대로 사용)

In [ ]:
df['Income'].value_counts()

Income
$85,000 - $89,999                         53850
$120,000+                                 42324
$100,000 - $109,999                       33450
$80,000 - $84,999                         26515
$110,000 - $119,999                       22274
$65,000 - $69,999                         22197
$75,000 - $79,999                         20939
$95,000 - $99,999                         20461
$90,000 - $94,999                         15659
$60,000 - $64,999                         11885
$55,000 - $59,999                         10651
$70,000 - $74,999                         10147
$50,000 - $54,999                          9057
$45,000 - $49,999                          5177
$40,000 - $44,999                          2531
< $40,000                                  1920
Unknown/missing/no match/Not 1990-2023        7
Name: count, dtype: int64

In [ ]:
# 1. Unknown 제거
df = df[df['Income'] != 'Unknown/missing/no match/Not 1990-2023']

In [ ]:
# $ 제거
df['Income'] = df['Income'].str.replace('$', '', regex=False)

In [ ]:
print(df['Income'].value_counts())

Income
85,000 - 89,999      53850
120,000+             42324
100,000 - 109,999    33450
80,000 - 84,999      26515
110,000 - 119,999    22274
65,000 - 69,999      22197
75,000 - 79,999      20939
95,000 - 99,999      20461
90,000 - 94,999      15659
60,000 - 64,999      11885
55,000 - 59,999      10651
70,000 - 74,999      10147
50,000 - 54,999       9057
45,000 - 49,999       5177
40,000 - 44,999       2531
< 40,000              1920
Name: count, dtype: int64

##Rural-Urban [True=1, False=0]

In [ ]:
df['Rural-Urban'].value_counts()

Rural-Urban
Large Metro                                                     194135
Counties in metropolitan areas of 250,000 to 1 million pop       62416
Counties in metropolitan areas of lt 250 thousand pop            21562
Nonmetropolitan counties adjacent to a metropolitan area         19253
Nonmetropolitan counties not adjacent to a metropolitan area     11302
Unknown/missing/no match (Alaska or Hawaii - Entire State)         369
Name: count, dtype: int64

In [ ]:
df = df[~df['Rural-Urban'].str.contains("Unknown/missing")]

In [ ]:
def group_urban_rural(x):
    if 'Large Metro' in x:
        return 'Large metro'
    elif 'metropolitan areas of' in x:
        return 'Small/Medium metro'
    else:
        return 'Rural'

In [ ]:
df['Rural-Urban_grouped'] = df['Rural-Urban'].apply(group_urban_rural)

/tmp/ipython-input-2457280510.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rural-Urban_grouped'] = df['Rural-Urban'].apply(group_urban_rural)

In [ ]:
print(df['Rural-Urban_grouped'].value_counts())

Rural-Urban_grouped
Large metro           194135
Small/Medium metro     83978
Rural                  30555
Name: count, dtype: int64

In [ ]:
# Race_grouped만 원-핫 인코딩
race_dummies = pd.get_dummies(df['Rural-Urban_grouped'], prefix='Rural-Urban')

In [ ]:
print(race_dummies)

        Rural-Urban_Large metro  Rural-Urban_Rural  \
0                          True              False
1                          True              False
2                          True              False
3                          True              False
4                          True              False
...                         ...                ...
309039                     True              False
309040                     True              False
309041                     True              False
309042                     True              False
309043                     True              False

        Rural-Urban_Small/Medium metro
0                                False
1                                False
2                                False
3                                False
4                                False
...                                ...
309039                           False
309040                           False
309041                           False
309042                           False
309043                           False

[308668 rows x 3 columns]

In [ ]:
# 원-핫 인코딩 후 0/1 숫자로 변환
marital_dummies = pd.get_dummies(df['Rural-Urban_grouped'], prefix='Rural-Urban').astype(int)

In [ ]:
print(marital_dummies)

        Rural-Urban_Large metro  Rural-Urban_Rural  \
0                             1                  0
1                             1                  0
2                             1                  0
3                             1                  0
4                             1                  0
...                         ...                ...
309039                        1                  0
309040                        1                  0
309041                        1                  0
309042                        1                  0
309043                        1                  0

        Rural-Urban_Small/Medium metro
0                                    0
1                                    0
2                                    0
3                                    0
4                                    0
...                                ...
309039                               0
309040                               0
309041                               0
309042                               0
309043                               0

[308668 rows x 3 columns]

##Behavior code [In situ=1, Malignant=0]

In [ ]:
df['Behavior code'].value_counts()

Behavior code
Malignant    304842
In situ        3826
Name: count, dtype: int64

In [ ]:
mapping = {'In situ': 1, 'Malignant': 0}
df['Behavior_code_num'] = df['Behavior code'].map(mapping)

/tmp/ipython-input-659286862.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Behavior_code_num'] = df['Behavior code'].map(mapping)

In [ ]:
print(df['Behavior_code_num'].value_counts())

Behavior_code_num
0    304842
1      3826
Name: count, dtype: int64

##T/N/M Stage [Stage_Number=0,1,2,3,4]

In [ ]:
df = pd.read_csv(file_path)
print(df.columns)

Index(['Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'Chemotherapy',
       'Mets all', 'Mets at bone', 'Mets at brain', 'Mets at liver',
       'Mets at lung', 'Radiation', 'Surgery Oth Reg/Dis', 'Surgery Prim Site',
       'Rural-Urban', 'cancer treatment delay', 'Income', 'Survival months',
       'Cancer Site'],
      dtype='object')

In [ ]:
df['T/N/M Stage'].value_counts()

T/N/M Stage
1A    177101
1B     48244
2A     27899
4      17557
2B     13880
3B      8620
3A      7908
0       3924
3C      3911
Name: count, dtype: int64

In [ ]:
def extract_stage_number(stage):
    import re
    match = re.search(r'\d', stage)
    if match:
        return int(match.group())
    else:
        return 0

df['Stage_Number'] = df['T/N/M Stage'].apply(extract_stage_number)

In [ ]:
print(df['Stage_Number'].value_counts())

Stage_Number
1    220461
2     40030
3     19468
4     15125
0      3765
Name: count, dtype: int64

##Therapy

###Surg Prim Site(수치형)

In [ ]:
df = pd.read_csv(file_path)
print(df.columns)

Index(['Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'Chemotherapy',
       'Mets all', 'Mets at bone', 'Mets at brain', 'Mets at liver',
       'Mets at lung', 'Radiation', 'Surgery Oth Reg/Dis', 'Surgery Prim Site',
       'Rural-Urban', 'cancer treatment delay', 'Income', 'Survival months',
       'Cancer Site'],
      dtype='object')

In [ ]:
df['Surgery Prim Site'].value_counts()

Surgery Prim Site
22    128072
41     29873
0      27814
20     19039
23     17010
42     11789
30     11242
51     10869
24      9496
49      6548
45      5234
40      4534
47      3874
48      3830
52      3210
44      3200
43      3110
21      1295
50      1141
46      1002
59       953
55       785
75       753
57       654
53       600
58       553
54       513
99       422
80       361
61       306
56       165
62       143
19       118
63       115
90       105
60        68
76        49
68        33
64        32
69        29
66        22
65        18
73        14
74        13
67        12
72        10
70        10
71         6
Name: count, dtype: int64

In [ ]:
def surgery_group(code):
    try:
        code_int = int(code)
    except ValueError:
        return None  # 숫자로 변환 안되는 값은 제외

    if code_int == 0:
        return 0
    elif 10 <= code_int <= 39:
        return 1
    elif 40 <= code_int <= 69:
        return 2
    elif 70 <= code_int <= 80:
        return 3
    else:
        return None  # 80 이상 또는 범위 밖은 제외

# 예시: Surgery Prim Site 코드에 적용
df['Surgery_Group'] = df['Surgery Prim Site'].apply(surgery_group)

# 80 이상 등 그룹이 None인 행은 삭제하고 싶으면:
df = df[df['Surgery_Group'].notna()]

In [ ]:
df['Surgery_Group'].value_counts()

Surgery_Group
1.0    186272
2.0     93215
0.0     27814
3.0      1216
Name: count, dtype: int64

###Surgery Oth Reg/Dis [Yes=1, No=0]

In [ ]:
df['Surgery Oth Reg/Dis'].value_counts()

Surgery Oth Reg/Dis
0                                                               302036
Non-primary surgical procedure performed                          2541
Non-primary surgical procedure to other regional sites            1695
Non-primary surgical procedure to distant site                    1581
Non-primary surgical procedure to distant lymph node(s)            439
Any combo of sur proc to oth rg, dis lym nd, and/or dis site       151
Unknown; death certificate only                                     74
Name: count, dtype: int64

In [ ]:
df = df[df['Surgery Oth Reg/Dis'] != 'Unknown; death certificate only']
# '9'이 포함된 값 무시 (실제 데이터에 '9'가 있으면 아래 라인 활성화)
# df = df[~df['Surgery Oth Reg/Dis'].str.contains('9')]

# 수술 그룹 분류 함수
def surgery_other_group(value):
    if value == '0' or value == 'None; diagnosed at autopsy':
        return 0  # 수술 없음
    elif value in [
        'Non-primary surgical procedure performed',
        'Non-primary surgical procedure to other regional sites',
        'Non-primary surgical procedure to distant site',
        'Non-primary surgical procedure to distant lymph node(s)',
        'Any combo of sur proc to oth rg, dis lym nd, and/or dis site'
        ]:
        return 1  # 수술 있음 (2~6번 범주 모두 포함)
    else:
        return None  # 관심 없는 값(예: 9 등)

df['Surgery_Reg_Group'] = df['Surgery Oth Reg/Dis'].apply(surgery_other_group)

# None인 행 제거
df = df[df['Surgery_Reg_Group'].notna()]

In [ ]:
print(df['Surgery_Reg_Group'].value_counts())

Surgery_Reg_Group
0    302036
1      6407
Name: count, dtype: int64

### Radiation[Yes=1, No=0]

###Chemotherapy[Yes=1, No=0]

In [ ]:
df['Chemotherapy'].value_counts()

Chemotherapy
No/Unknown    196408
Yes           112035
Name: count, dtype: int64

In [ ]:
def chemo_binary(value):
    if value == 'No/Unknown':
        return 0
    elif value == 'Yes':
        return 1
    else:
        return None  # 혹시 다른 값은 None 처리

df['Chemo_Binary'] = df['Chemotherapy'].apply(chemo_binary)

print(df['Chemo_Binary'].value_counts())

Chemo_Binary
0    196408
1    112035
Name: count, dtype: int64

##Cancer treatment delay(연속형 그대로 사용)

In [ ]:
df['cancer treatment delay'].value_counts()

cancer treatment delay
0                      23461
Unable to calculate     9186
28                      7886
35                      7662
27                      6640
                       ...
490                        1
533                        1
675                        1
528                        1
471                        1
Name: count, Length: 519, dtype: int64

##EOD

###Mets at Bone [Yes=1, No=0]

In [ ]:
df['Mets at bone'].value_counts()

Mets at bone
No         288692
Yes         10451
Unknown        79
Name: count, dtype: int64

In [ ]:
def chemo_binary(value):
    if value == 'No':
        return 0
    elif value == 'Yes':
        return 1
    else:
        return None  # 혹시 다른 값은 None 처리

df['Mets_bone'] = df['Mets at bone'].apply(chemo_binary)
df = df[df['Mets_bone'].notna()]
print(df['Mets_bone'].value_counts())

Mets_bone
0.0    288692
1.0     10451
Name: count, dtype: int64

###Mets at Brain [Yes=1, No=0]

In [ ]:
df['Mets at brain'].value_counts()

Mets at brain
No         297914
Yes          1103
Unknown       126
Name: count, dtype: int64

In [ ]:
def chemo_binary(value):
    if value == 'No':
        return 0
    elif value == 'Yes':
        return 1
    else:
        return None  # 혹시 다른 값은 None 처리

df['Mets_brain'] = df['Mets at brain'].apply(chemo_binary)
df = df[df['Mets_brain'].notna()]
print(df['Mets_brain'].value_counts())

Mets_brain
0.0    297914
1.0      1103
Name: count, dtype: int64

###Mets at Liver [Yes=1, No=0]

In [ ]:
df['Mets at liver'].value_counts()

Mets at liver
No         295442
Yes          3513
Unknown        62
Name: count, dtype: int64

In [ ]:
def chemo_binary(value):
    if value == 'No':
        return 0
    elif value == 'Yes':
        return 1
    else:
        return None  # 혹시 다른 값은 None 처리

df['Mets_liver'] = df['Mets at liver'].apply(chemo_binary)
df = df[df['Mets_liver'].notna()]
print(df['Mets_liver'].value_counts())

Mets_liver
0.0    295442
1.0      3513
Name: count, dtype: int64

###Mets at Lung [Yes=1, No=0]

In [ ]:
df['Mets at lung'].value_counts()

Mets at lung
No         294512
Yes          4337
Unknown       106
Name: count, dtype: int64

In [ ]:
def chemo_binary(value):
    if value == 'No':
        return 0
    elif value == 'Yes':
        return 1
    else:
        return None  # 혹시 다른 값은 None 처리

df['Mets_lung'] = df['Mets at lung'].apply(chemo_binary)
df = df[df['Mets_lung'].notna()]
print(df['Mets_lung'].value_counts())

Mets_lung
0.0    294512
1.0      4337
Name: count, dtype: int64

#ER,PR,HER(pos=1,neg=0)

##ER

In [ ]:
df['ER'].value_counts()

ER
Positive    254763
Negative     44086
Name: count, dtype: int64

In [ ]:
df['ER'] = df['ER'].map({'Positive': 1, 'Negative': 0})

In [ ]:
print(df['ER'].value_counts())

ER
1    254763
0     44086
Name: count, dtype: int64

##PR

In [ ]:
df['PR'].value_counts()

PR
Positive    222912
Negative     75937
Name: count, dtype: int64

In [ ]:
df['PR'] = df['PR'].map({'Positive': 1, 'Negative': 0})

In [ ]:
print(df['PR'].value_counts())

PR
1    222912
0     75937
Name: count, dtype: int64

##HER2

In [ ]:
df['HER2'].value_counts()

HER2
Negative    259710
Positive     39139
Name: count, dtype: int64

In [ ]:
df['HER2'] = df['HER2'].map({'Positive': 1, 'Negative': 0})

In [ ]:
print(df['HER2'].value_counts())

HER2
0    259710
1     39139
Name: count, dtype: int64

#Survival months(수치형)

#Sequence number

### First VS Later[first=1,else=0]

In [ ]:
df['Sequence number'].value_counts()

Sequence number
One primary only              221319
2nd of 2 or more primaries     47929
1st of 2 or more primaries     19835
3rd of 3 or more primaries      8478
4th of 4 or more primaries      1389
5th of 5 or more primaries       272
Name: count, dtype: int64

In [ ]:
def first_vs_later(value):
    if value == 'One primary only':
        return None  # 제외
    elif value == '1st of 2 or more primaries':
        return 1
    else:
        return 0

# 적용
df['First_vs_Later'] = df['Sequence number'].apply(first_vs_later)

# None인 행 삭제
df = df[df['First_vs_Later'].notna()]
print(df["First_vs_Later"].value_counts())

First_vs_Later
0.0    58068
1.0    19835
Name: count, dtype: int64

### One VS Other[one=1,other=0]

In [ ]:
df["One_vs_Other"] = df["Sequence number"].apply(
    lambda x: 1 if x == "One primary only" else 0
)
print(df["One_vs_Other"].value_counts())

One_vs_Other
1    221319
0     77903
Name: count, dtype: int64