<a href="https://colab.research.google.com/github/GYULEE55/-Semi2-Breast-cancer-/blob/main/%EC%A0%84%EC%B2%98%EB%A6%AC_%EC%B5%9C%EC%A2%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 불러오기

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import seaborn as sns

In [ ]:
import pandas as pd

# 데이터 불러오기
file_path = "/content/drive/MyDrive/세미2차/BREAST1.csv"
df = pd.read_csv(file_path)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309044 entries, 0 to 309043
Data columns (total 24 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Sex                     309044 non-null  object
 1   Age                     309044 non-null  object
 2   Race                    309044 non-null  object
 3   Marital status          309044 non-null  object
 4   ER                      309044 non-null  object
 5   HER2                    309044 non-null  object
 6   PR                      309044 non-null  object
 7   T/N/M Stage             309044 non-null  object
 8   Behavior code           309044 non-null  object
 9   Sequence number         309044 non-null  object
 10  Chemotherapy            309044 non-null  object
 11  Mets all                309044 non-null  object
 12  Mets at bone            309044 non-null  object
 13  Mets at brain           309044 non-null  object
 14  Mets at liver           309044 non-null  object
 15  Mets at lung            309044 non-null  object
 16  Radiation               309044 non-null  object
 17  Surgery Oth Reg/Dis     309044 non-null  object
 18  Surgery Prim Site       309044 non-null  int64
 19  Rural-Urban             309044 non-null  object
 20  cancer treatment delay  309044 non-null  object
 21  Income                  309044 non-null  object
 22  Survival months         309044 non-null  int64
 23  Cancer Site             309044 non-null  object
dtypes: int64(2), object(22)
memory usage: 56.6+ MB

In [ ]:
df.columns

Index(['Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'Chemotherapy',
       'Mets all', 'Mets at bone', 'Mets at brain', 'Mets at liver',
       'Mets at lung', 'Radiation', 'Surgery Oth Reg/Dis', 'Surgery Prim Site',
       'Rural-Urban', 'cancer treatment delay', 'Income', 'Survival months',
       'Cancer Site'],
      dtype='object')

In [ ]:
# 기술 통계 확인
df.describe()

       Surgery Prim Site  Survival months
count      309044.000000    309044.000000
mean           27.623594        26.606431
std            14.314566        17.251222
min             0.000000         0.000000
25%            22.000000        12.000000
50%            22.000000        25.000000
75%            41.000000        41.000000
max            99.000000        59.000000

# 전처리

In [ ]:

# 분석 대상 열 목록
columns_to_check = [
   'Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'Chemotherapy',
       'Mets all', 'Mets at bone', 'Mets at brain', 'Mets at liver',
       'Mets at lung', 'Radiation', 'Surgery Oth Reg/Dis', 'Surgery Prim Site',
       'Rural-Urban', 'cancer treatment delay', 'Income', 'Survival months',
       'Cancer Site'
]

# 컬럼별 고유값 카운트 출력
for col in columns_to_check:
    print(f"\n===== [{col}] =====")
    print(df[col].value_counts(dropna=False))  # NaN 포함해서 카운트

===== [Sex] =====
Sex
Female    306641
Male        2403
Name: count, dtype: int64

===== [Age] =====
Age
65-69 years    45109
60-64 years    41898
70-74 years    41512
55-59 years    35023
50-54 years    30191
75-79 years    28290
45-49 years    25334
80-84 years    17008
40-44 years    16964
85-89 years     9023
35-39 years     8669
90+ years       4247
30-34 years     4185
25-29 years     1390
20-24 years      187
15-19 years       13
05-09 years        1
Name: count, dtype: int64

===== [Race] =====
Race
White                            237361
Black                             33594
Asian or Pacific Islander         33237
Unknown                            2558
American Indian/Alaska Native      2294
Name: count, dtype: int64

===== [Marital status] =====
Marital status
Married (including common law)    171937
Never married                      49652
Widowed                            38557
Divorced                           32988
Unknown                            10289
Separated                           3270
Unmarried or Domestic Partner       2351
Name: count, dtype: int64

===== [ER] =====
ER
Positive    262732
Negative     46312
Name: count, dtype: int64

===== [HER2] =====
HER2
Negative    268075
Positive     40969
Name: count, dtype: int64

===== [PR] =====
PR
Positive    229616
Negative     79428
Name: count, dtype: int64

===== [T/N/M Stage] =====
T/N/M Stage
1A    177101
1B     48244
2A     27899
4      17557
2B     13880
3B      8620
3A      7908
0       3924
3C      3911
Name: count, dtype: int64

===== [Behavior code] =====
Behavior code
Malignant    305214
In situ        3830
Name: count, dtype: int64

===== [Sequence number] =====
Sequence number
One primary only              228428
2nd of 2 or more primaries     49645
1st of 2 or more primaries     20442
3rd of 3 or more primaries      8800
4th of 4 or more primaries      1441
5th of 5 or more primaries       288
Name: count, dtype: int64

===== [Chemotherapy] =====
Chemotherapy
No/Unknown    196793
Yes           112251
Name: count, dtype: int64

===== [Mets all] =====
Mets all
None; no other metastases    305821
distant                        3181
general                          42
Name: count, dtype: int64

===== [Mets at bone] =====
Mets at bone
No         297165
Yes         11757
Unknown       122
Name: count, dtype: int64

===== [Mets at brain] =====
Mets at brain
No         307543
Yes          1282
Unknown       219
Name: count, dtype: int64

===== [Mets at liver] =====
Mets at liver
No         304760
Yes          4138
Unknown       146
Name: count, dtype: int64

===== [Mets at lung] =====
Mets at lung
No         303683
Yes          5136
Unknown       225
Name: count, dtype: int64

===== [Radiation] =====
Radiation
Beam radiation                                           164190
None/Unknown                                             120536
Refused (1988+)                                           13455
Recommended, unknown if administered                       7094
Radioactive implants (includes brachytherapy) (1988+)      3072
Radiation, NOS  method or source not specified              493
Combination of beam with implants or isotopes               181
Radioisotopes (1988+)                                        23
Name: count, dtype: int64

===== [Surgery Oth Reg/Dis] =====
Surgery Oth Reg/Dis
0                                                               302455
Non-primary surgical procedure performed                          2546
Non-primary surgical procedure to other regional sites            1698
Non-primary surgical procedure to distant site                    1590
Non-primary surgical procedure to distant lymph node(s)            440
Unknown; death certificate only                                    164
Any combo of sur proc to oth rg, dis lym nd, and/or dis site       151
Name: count, dtype: int64

===== [Surgery Prim Site] =====
Surgery Prim Site
22    128072
41     29873
0      27814
20     19039
23     17010
42     11789
30     11242
51     10869
24      9496
49      6548
45      5234
40      4534
47      3874
48      3830
52      3210
44      3200
43      3110
21      1295
50      1141
46      1002
59       953
55       785
75       753
57       654
53       600
58       553
54       513
99       422
80       361
61       306
56       165
62       143
19       118
63       115
90       105
60        68
76        49
68        33
64        32
69        29
66        22
65        18
73        14
74        13
67        12
72        10
70        10
71         6
Name: count, dtype: int64

===== [Rural-Urban] =====
Rural-Urban
Large Metro                                                     194135
Counties in metropolitan areas of 250,000 to 1 million pop       62416
Counties in metropolitan areas of lt 250 thousand pop            21562
Nonmetropolitan counties adjacent to a metropolitan area         19253
Nonmetropolitan counties not adjacent to a metropolitan area     11302
Unknown/missing/no match (Alaska or Hawaii - Entire State)         369
Unknown/missing/no match/Not 1990-2023                               7
Name: count, dtype: int64

===== [cancer treatment delay] =====
cancer treatment delay
0                      23509
Unable to calculate     9362
28                      7896
35                      7673
27                      6645
                       ...
533                        1
675                        1
528                        1
471                        1
479                        1
Name: count, Length: 519, dtype: int64

===== [Income] =====
Income
$85,000 - $89,999                         53850
$120,000+                                 42324
$100,000 - $109,999                       33450
$80,000 - $84,999                         26515
$110,000 - $119,999                       22274
$65,000 - $69,999                         22197
$75,000 - $79,999                         20939
$95,000 - $99,999                         20461
$90,000 - $94,999                         15659
$60,000 - $64,999                         11885
$55,000 - $59,999                         10651
$70,000 - $74,999                         10147
$50,000 - $54,999                          9057
$45,000 - $49,999                          5177
$40,000 - $44,999                          2531
< $40,000                                  1920
Unknown/missing/no match/Not 1990-2023        7
Name: count, dtype: int64

===== [Survival months] =====
Survival months
9     7057
6     6805
4     6707
2     6578
1     6499
10    6481
3     6418
18    6357
0     6349
12    6299
16    6255
8     6247
14    6224
13    6181
7     6180
20    6026
11    6018
15    5895
21    5839
5     5786
17    5726
19    5655
26    5550
24    5358
22    5353
27    5335
23    5271
25    5211
29    5116
38    5108
34    5002
35    4921
41    4861
37    4764
33    4737
36    4723
28    4717
43    4706
40    4689
50    4669
44    4611
52    4578
42    4561
46    4540
45    4489
39    4469
47    4418
30    4299
49    4220
56    4129
54    4114
48    4090
53    4063
58    4016
55    3916
51    3816
57    3783
59    3666
31    2872
32    2721
Name: count, dtype: int64

===== [Cancer Site] =====
Cancer Site
Breast    309044
Name: count, dtype: int64

In [ ]:
import pandas as pd

# 전체 컬럼별 결측치 수
print(df.isnull().sum())

# 전체 결측치 개수
print("전체 결측치 수:", df.isnull().sum().sum())

Sex                       0
Age                       0
Race                      0
Marital status            0
ER                        0
HER2                      0
PR                        0
T/N/M Stage               0
Behavior code             0
Sequence number           0
Chemotherapy              0
Mets all                  0
Mets at bone              0
Mets at brain             0
Mets at liver             0
Mets at lung              0
Radiation                 0
Surgery Oth Reg/Dis       0
Surgery Prim Site         0
Rural-Urban               0
cancer treatment delay    0
Income                    0
Survival months           0
Cancer Site               0
One_vs_Other              0
First_vs_Later            0
dtype: int64
전체 결측치 수: 0

In [ ]:
df['Radiation'].value_counts()

Radiation
Beam radiation                                           164190
None/Unknown                                             120536
Refused (1988+)                                           13455
Recommended, unknown if administered                       7094
Radioactive implants (includes brachytherapy) (1988+)      3072
Radiation, NOS  method or source not specified              493
Combination of beam with implants or isotopes               181
Radioisotopes (1988+)                                        23
Name: count, dtype: int64

In [ ]:
required_cols = ['Sex', 'Age', 'Race', 'Marital status', 'ER']

# 해당 컬럼들 중 하나라도 결측값 있는 행 제외
df = df.dropna(subset=required_cols)

print(df[required_cols].isna().sum())
print(f"남은 행 수: {len(df)}")
df_processed = df.copy()

Sex               0
Age               0
Race              0
Marital status    0
ER                0
dtype: int64
남은 행 수: 309044

In [ ]:
# 기본적으로 남길 컬럼명 리스트 작성 (예시)
base_columns = [
    'Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
    'T/N/M Stage', 'Behavior code', 'Sequence number',
    'Age_group', 'Age_label', 'Stage_Number', 'Radiation_binary', 'One_vs_Other'
    # 필요에 따라 원하는 기본 컬럼명을 추가하세요
]

# base_columns 중 df_processed에 없는 컬럼은 무시하고 안전하게 필터링
base_columns_exist = [col for col in base_columns if col in df_processed.columns]

# 기본 컬럼만 남기고 나머지 삭제
df_processed = df_processed[base_columns_exist]

# 결과 확인
print(df_processed.columns)

Index(['Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'One_vs_Other'],
      dtype='object')

In [ ]:
# df가 줄어들면 df_processed도 동일하게 줄이기
df_processed = df_processed.loc[df.index]
# 만약 concat으로 붙일 때는 이렇게!
df = df.reset_index(drop=True)
df_processed = df_processed.reset_index(drop=True)

final_df = pd.concat([df, df_processed], axis=1)

#Radiation

In [ ]:
# Radiation 변수 이진 변환 함수 정의
def radiation_binary(value):
    if value in [
        'None/Unknown',
        'Refused (1988+)',
        'Recommended, unknown if administered'
    ]:
        return 0
    else:
        return 1  # Any radiation (2~6번 값 포함)

# Radiation_binary 컬럼 생성
df['Radiation_binary'] = df['Radiation'].apply(radiation_binary)

# df_processed에 이진 컬럼 추가 (인덱스 동기화)
df_processed = df_processed.reindex(df.index)
df_processed['Radiation_binary'] = df.loc[df_processed.index, 'Radiation_binary']

# 결과 확인
print(df_processed['Radiation_binary'].head())

0    1
1    0
2    0
3    0
4    0
Name: Radiation_binary, dtype: int64

In [ ]:
print(df_processed.columns)

Index(['Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'One_vs_Other',
       'Radiation_binary'],
      dtype='object')

##RACE [True=1, False=0]

In [ ]:
df['Race'].value_counts()

Race
White                            237361
Black                             33594
Asian or Pacific Islander         33237
Unknown                            2558
American Indian/Alaska Native      2294
Name: count, dtype: int64

In [ ]:
# Race 변수 처리
df['Race_grouped'] = df['Race'].replace({
    'Unknown': 'Other (Unknown/AIAN)',
    'American Indian/Alaska Native': 'Other (Unknown/AIAN)'
})

In [ ]:
print(df['Race_grouped'].value_counts())

Race_grouped
White                        237361
Black                         33594
Asian or Pacific Islander     33237
Other (Unknown/AIAN)           4852
Name: count, dtype: int64

In [ ]:
# Race>> Race_grouped 이름 변경

In [ ]:
# Race_grouped만 원-핫 인코딩
race_dummies = pd.get_dummies(df['Race_grouped'], prefix='Race').astype(int)

In [ ]:
print(race_dummies)

        Race_Asian or Pacific Islander  Race_Black  Race_Other (Unknown/AIAN)  \
0                                    0           0                          0
1                                    0           0                          0
2                                    0           0                          0
3                                    1           0                          0
4                                    1           0                          0
...                                ...         ...                        ...
309039                               1           0                          0
309040                               0           0                          0
309041                               0           0                          0
309042                               0           1                          0
309043                               0           0                          0

        Race_White
0                1
1                1
2                1
3                0
4                0
...            ...
309039           0
309040           1
309041           1
309042           0
309043           1

[309044 rows x 4 columns]

In [ ]:
# Race 변수 처리 및 그룹화
df['Race_grouped'] = df['Race'].replace({
    'Unknown': 'Other (Unknown/AIAN)',
    'American Indian/Alaska Native': 'Other (Unknown/AIAN)'
})

print(df['Race_grouped'].value_counts())

# 원핫 인코딩 생성
race_dummies = pd.get_dummies(df['Race_grouped'], prefix='Race').astype(int)

print(race_dummies.head())

# df_processed에 원핫 인코딩 결과 병합
df_processed = pd.concat([df_processed, race_dummies], axis=1)

# 병합 확인
print(df_processed.filter(like='Race_').head())

Race_grouped
White                        237361
Black                         33594
Asian or Pacific Islander     33237
Other (Unknown/AIAN)           4852
Name: count, dtype: int64
   Race_Asian or Pacific Islander  Race_Black  Race_Other (Unknown/AIAN)  \
0                               0           0                          0
1                               0           0                          0
2                               0           0                          0
3                               1           0                          0
4                               1           0                          0

   Race_White
0           1
1           1
2           1
3           0
4           0
   Race_Asian or Pacific Islander  Race_Black  Race_Other (Unknown/AIAN)  \
0                               0           0                          0
1                               0           0                          0
2                               0           0                          0
3                               1           0                          0
4                               1           0                          0

   Race_White
0           1
1           1
2           1
3           0
4           0

In [ ]:
print(df_processed.columns)

Index(['Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'One_vs_Other',
       'Radiation_binary', 'Race_Asian or Pacific Islander', 'Race_Black',
       'Race_Other (Unknown/AIAN)', 'Race_White'],
      dtype='object')

##SEX [Male: 0, 'Female:1 ]

In [ ]:
df['Sex'].value_counts()

Sex
Female    306641
Male        2403
Name: count, dtype: int64

In [ ]:
# 3. Sex 원핫 인코딩
sex_onehot = pd.get_dummies(df_processed['Sex'], prefix='Sex').astype(int)

# Sex 원핫인코딩 병합
df_processed = pd.concat([df_processed, sex_onehot], axis=1)

print(df_processed.filter(like='Sex_').head())

# 4. 필요시 기존 원본 컬럼 삭제 (선택)
# df_processed.drop(columns=['Race', 'Sex', 'Race_grouped'], inplace=True)

# 5. 최종 컬럼 목록 출력
print(df_processed.columns)

   Sex_Female  Sex_Male
0           1         0
1           1         0
2           1         0
3           1         0
4           1         0
Index(['Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'One_vs_Other',
       'Radiation_binary', 'Race_Asian or Pacific Islander', 'Race_Black',
       'Race_Other (Unknown/AIAN)', 'Race_White', 'Sex_Female', 'Sex_Male'],
      dtype='object')

##AGE(연속형 그대로 사용)

years 제외했습니닥 !!!!!!!!!

In [ ]:
df['Age'].value_counts()

Age
65-69 years    45109
60-64 years    41898
70-74 years    41512
55-59 years    35023
50-54 years    30191
75-79 years    28290
45-49 years    25334
80-84 years    17008
40-44 years    16964
85-89 years     9023
35-39 years     8669
90+ years       4247
30-34 years     4185
25-29 years     1390
20-24 years      187
15-19 years       13
05-09 years        1
Name: count, dtype: int64

In [ ]:
# 1) Age_group 컬럼 생성 (예: "15-19", "20-24" 등)
def age_group(age):
    if age <= 29:
        return "0-29"
    elif age >= 85:
        return "85+"
    else:
        return f"{(age//5)*5}-{(age//5)*5 + 4}"

df['Age_group'] = df['Age'].str.extract(r'(\d+)').astype(int)[0].apply(age_group)

# 2) " years" 문자열 제거 (만약 있다면)
df['Age_group_clean'] = df['Age_group'].astype(str).str.replace(' years', '', regex=False)


age_group_onehot = pd.get_dummies(df['Age_group_clean'], prefix='AgeGroup').astype(int)

df_processed = pd.concat([df_processed, age_group_onehot], axis=1)

In [ ]:
print(df_processed.columns)

Index(['Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'One_vs_Other',
       'Radiation_binary', 'Race_Asian or Pacific Islander', 'Race_Black',
       'Race_Other (Unknown/AIAN)', 'Race_White', 'Sex_Female', 'Sex_Male',
       'AgeGroup_0-29', 'AgeGroup_30-34', 'AgeGroup_35-39', 'AgeGroup_40-44',
       'AgeGroup_45-49', 'AgeGroup_50-54', 'AgeGroup_55-59', 'AgeGroup_60-64',
       'AgeGroup_65-69', 'AgeGroup_70-74', 'AgeGroup_75-79', 'AgeGroup_80-84',
       'AgeGroup_85+'],
      dtype='object')

In [ ]:
# Age>> Age_group 이름 변경

In [ ]:
# # 1) 결측 보완 후
# df['Age_num'] = df['Age_num'].fillna('Unknown')

# # 2) 원-핫 인코딩 생성
# age_onehot = pd.get_dummies(df['Age_num'], prefix='Age')

# # 3) 원본 데이터프레임에 붙이기
# df = pd.concat([df, age_onehot], axis=1)

# # 4) 이후 df를 복사하려면 그 다음에
# df_processed = df.copy()

In [ ]:
# # Age_group 컬럼은 남기고 'Age_'로 시작하는 원핫 인코딩 컬럼만 삭제
# age_cols = [col for col in df.columns if col.startswith('Age_') and col != 'Age_num']
# df = df.drop(columns=age_cols)

# # 원-핫 인코딩 수행
# age_onehot = pd.get_dummies(df['Age_num'], prefix='Age').astype(int)

# df = pd.concat([df, age_onehot], axis=1)

# # 후속 작업을 위한 복사본 생성 및 동일 작업 반복 시에도 동일하게
# df_processed = df.copy()
# age_cols = [col for col in df_processed.columns if col.startswith('Age_') and col != 'Age_num']
# df_processed = df_processed.drop(columns=age_cols)

# age_onehot = pd.get_dummies(df_processed['Age_num'], prefix='Age').astype(int)
# df_processed = pd.concat([df_processed, age_onehot], axis=1)

In [ ]:
print(df_processed.columns)

Index(['Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'One_vs_Other',
       'Radiation_binary', 'Race_Asian or Pacific Islander', 'Race_Black',
       'Race_Other (Unknown/AIAN)', 'Race_White', 'Sex_Female', 'Sex_Male',
       'AgeGroup_0-29', 'AgeGroup_30-34', 'AgeGroup_35-39', 'AgeGroup_40-44',
       'AgeGroup_45-49', 'AgeGroup_50-54', 'AgeGroup_55-59', 'AgeGroup_60-64',
       'AgeGroup_65-69', 'AgeGroup_70-74', 'AgeGroup_75-79', 'AgeGroup_80-84',
       'AgeGroup_85+'],
      dtype='object')

## Marital [True=1, False=0]

In [ ]:
df['Marital status'].value_counts()

Marital status
Married (including common law)    171937
Never married                      49652
Widowed                            38557
Divorced                           32988
Unknown                            10289
Separated                           3270
Unmarried or Domestic Partner       2351
Name: count, dtype: int64

In [ ]:
#Marital_group 로 이름 변경

In [ ]:
marital_map = {
    'Married (including common law)': 'Married',
    'Divorced': 'Previously Married',
    'Separated': 'Previously Married',
    'Widowed': 'Previously Married',
    'Never married': 'Single/Other',
    'Unknown': 'Single/Other',
    'Unmarried or Domestic Partner': 'Single/Other'
}

df['Marital_group'] = df['Marital status'].replace(marital_map)

In [ ]:
# 1) ‘Marital_group’ 컬럼 생성 코드 반드시 실행
marital_map = {
    'Married (including common law)': 'Married',
    'Divorced': 'Previously Married',
    'Separated': 'Previously Married',
    'Widowed': 'Previously Married',
    'Never married': 'Single/Other',
    'Unknown': 'Single/Other',
    'Unmarried or Domestic Partner': 'Single/Other'
}
df['Marital_group'] = df['Marital status'].replace(marital_map)

print(df['Marital_group'].value_counts())  # 정상 생성 확인

# 2) 인덱스 동기화 (특히 df_processed가 별도로 생성된 상태라면)
df_processed = df_processed.reindex(df.index)

# 3) df_processed에 ‘Marital_group’ 복사
df_processed['Marital_group'] = df.loc[df_processed.index, 'Marital_group']

print(df_processed['Marital_group'].value_counts())  # 복사 확인

# 4) 원핫인코딩 수행 및 병합
marital_onehot = pd.get_dummies(df_processed['Marital_group'], prefix='Marital_status').astype(int)
df_processed = pd.concat([df_processed, marital_onehot], axis=1)

print(df_processed.filter(like='Marital_status_').head())

Marital_group
Married               171937
Previously Married     74815
Single/Other           62292
Name: count, dtype: int64
Marital_group
Married               171937
Previously Married     74815
Single/Other           62292
Name: count, dtype: int64
   Marital_status_Married  Marital_status_Previously Married  \
0                       0                                  0
1                       0                                  1
2                       0                                  0
3                       0                                  1
4                       1                                  0

   Marital_status_Single/Other
0                            1
1                            0
2                            1
3                            0
4                            0

In [ ]:
print(df_processed.columns)

Index(['Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'One_vs_Other',
       'Radiation_binary', 'Race_Asian or Pacific Islander', 'Race_Black',
       'Race_Other (Unknown/AIAN)', 'Race_White', 'Sex_Female', 'Sex_Male',
       'AgeGroup_0-29', 'AgeGroup_30-34', 'AgeGroup_35-39', 'AgeGroup_40-44',
       'AgeGroup_45-49', 'AgeGroup_50-54', 'AgeGroup_55-59', 'AgeGroup_60-64',
       'AgeGroup_65-69', 'AgeGroup_70-74', 'AgeGroup_75-79', 'AgeGroup_80-84',
       'AgeGroup_85+', 'Marital_group', 'Marital_status_Married',
       'Marital_status_Previously Married', 'Marital_status_Single/Other'],
      dtype='object')

##Income(연속형 그대로 사용)

In [ ]:
df['Income'].value_counts()

Income
$85,000 - $89,999                         53850
$120,000+                                 42324
$100,000 - $109,999                       33450
$80,000 - $84,999                         26515
$110,000 - $119,999                       22274
$65,000 - $69,999                         22197
$75,000 - $79,999                         20939
$95,000 - $99,999                         20461
$90,000 - $94,999                         15659
$60,000 - $64,999                         11885
$55,000 - $59,999                         10651
$70,000 - $74,999                         10147
$50,000 - $54,999                          9057
$45,000 - $49,999                          5177
$40,000 - $44,999                          2531
< $40,000                                  1920
Unknown/missing/no match/Not 1990-2023        7
Name: count, dtype: int64

In [ ]:
# 1. Unknown 제거
df = df[df['Income'] != 'Unknown/missing/no match/Not 1990-2023']

In [ ]:

# 2. $와 , 제거 (raw string 사용)
df['Income_clean'] = df['Income'].str.replace(r'[\$,]', '', regex=True)

In [ ]:
# 예: 안전한 숫자 최소값 추출 함수 (사용자 환경에 맞게 이미 정의된 것으로 가정)
def extract_min_income_safe(income_str):
    if pd.isna(income_str):
        return None
    try:
        income_str = income_str.replace(',', '').strip()
        if '-' in income_str:
            low, _ = income_str.split('-')
            val = int(low)
        else:
            val = int(income_str)
        return val
    except:
        return None

# 1. Income_clean 컬럼이 있다고 가정하여 진행 (만약 없으면 'Income'으로 교체)
df['Income_num'] = df['Income_clean'].apply(extract_min_income_safe)

# 2. 그룹핑 함수
def income_group(x):
    if x is None:
        return None
    elif x < 55000:
        return 'LOW'
    elif 55000 <= x <= 89999:
        return 'MIDDLE'
    else:
        return 'HIGH'

# 3. Income_num 기준 그룹 생성
df['Income_group'] = df['Income_num'].apply(income_group)

# 4. 결측 제거 (필요시)
df = df[df['Income_group'].notna()]

# 5. 원핫 인코딩 생성
income_dummies = pd.get_dummies(df['Income_group'], prefix='Income').astype(int)

# 6. df_processed 인덱스 동기화 및 Income_group, 원핫인코딩 병합
df_processed = df_processed.reindex(df.index)
df_processed['Income_group'] = df.loc[df_processed.index, 'Income_group']
df_processed = pd.concat([df_processed, income_dummies], axis=1)

# 7. 결과 확인
print(df[['Income', 'Income_clean', 'Income_num', 'Income_group']].head())
print(income_dummies.head())

      Income Income_clean  Income_num Income_group
0  $120,000+      120000+         NaN         HIGH
1  $120,000+      120000+         NaN         HIGH
2  $120,000+      120000+         NaN         HIGH
3  $120,000+      120000+         NaN         HIGH
4  $120,000+      120000+         NaN         HIGH
   Income_HIGH  Income_LOW  Income_MIDDLE
0            1           0              0
1            1           0              0
2            1           0              0
3            1           0              0
4            1           0              0

In [ ]:
print(df_processed.columns)

Index(['Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'One_vs_Other',
       'Radiation_binary', 'Race_Asian or Pacific Islander', 'Race_Black',
       'Race_Other (Unknown/AIAN)', 'Race_White', 'Sex_Female', 'Sex_Male',
       'AgeGroup_0-29', 'AgeGroup_30-34', 'AgeGroup_35-39', 'AgeGroup_40-44',
       'AgeGroup_45-49', 'AgeGroup_50-54', 'AgeGroup_55-59', 'AgeGroup_60-64',
       'AgeGroup_65-69', 'AgeGroup_70-74', 'AgeGroup_75-79', 'AgeGroup_80-84',
       'AgeGroup_85+', 'Marital_group', 'Marital_status_Married',
       'Marital_status_Previously Married', 'Marital_status_Single/Other',
       'Income_group', 'Income_HIGH', 'Income_LOW', 'Income_MIDDLE'],
      dtype='object')

##Rural-Urban [True=1, False=0]

In [ ]:
df['Rural-Urban'].value_counts()

Rural-Urban
Large Metro                                                     194135
Counties in metropolitan areas of 250,000 to 1 million pop       62416
Counties in metropolitan areas of lt 250 thousand pop            21562
Nonmetropolitan counties adjacent to a metropolitan area         19253
Nonmetropolitan counties not adjacent to a metropolitan area     11302
Unknown/missing/no match (Alaska or Hawaii - Entire State)         369
Name: count, dtype: int64

In [ ]:
df = df[~df['Rural-Urban'].str.contains("Unknown/missing")]

In [ ]:
def group_urban_rural(x):
    if 'Large Metro' in x:
        return 'Large metro'
    elif 'metropolitan areas of' in x:
        return 'Small/Medium metro'
    else:
        return 'Rural'

In [ ]:
df['Rural-Urban_grouped'] = df['Rural-Urban'].apply(group_urban_rural)

In [ ]:
print(df['Rural-Urban_grouped'].value_counts())

Rural-Urban_grouped
Large metro           194135
Small/Medium metro     83978
Rural                  30555
Name: count, dtype: int64

In [ ]:
# 원본 df에 컬럼이 있다면 복사본에도 포함시키기
df_processed['Rural-Urban_grouped'] = df['Rural-Urban_grouped']

# 원-핫 인코딩 생성
rural_urban_onehot = pd.get_dummies(df_processed['Rural-Urban_grouped'], prefix='Rural_Urban').astype(int)

# df_processed에 병합
df_processed = pd.concat([df_processed, rural_urban_onehot], axis=1)

# 결과 확인
print(df_processed.filter(like='Rural_Urban').head())

   Rural_Urban_Large metro  Rural_Urban_Rural  Rural_Urban_Small/Medium metro
0                        1                  0                               0
1                        1                  0                               0
2                        1                  0                               0
3                        1                  0                               0
4                        1                  0                               0

In [ ]:
print(df_processed.columns)

Index(['Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'One_vs_Other',
       'Radiation_binary', 'Race_Asian or Pacific Islander', 'Race_Black',
       'Race_Other (Unknown/AIAN)', 'Race_White', 'Sex_Female', 'Sex_Male',
       'AgeGroup_0-29', 'AgeGroup_30-34', 'AgeGroup_35-39', 'AgeGroup_40-44',
       'AgeGroup_45-49', 'AgeGroup_50-54', 'AgeGroup_55-59', 'AgeGroup_60-64',
       'AgeGroup_65-69', 'AgeGroup_70-74', 'AgeGroup_75-79', 'AgeGroup_80-84',
       'AgeGroup_85+', 'Marital_group', 'Marital_status_Married',
       'Marital_status_Previously Married', 'Marital_status_Single/Other',
       'Income_group', 'Income_HIGH', 'Income_LOW', 'Income_MIDDLE',
       'Rural-Urban_grouped', 'Rural_Urban_Large metro', 'Rural_Urban_Rural',
       'Rural_Urban_Small/Medium metro'],
      dtype='object')

##Behavior code [In situ=1, Malignant=0]

In [ ]:
df['Behavior code'].value_counts()

Behavior code
Malignant    304842
In situ        3826
Name: count, dtype: int64

In [ ]:
mapping = {'In situ': 1, 'Malignant': 0}
df['Behavior_code_num'] = df['Behavior code'].map(mapping)

In [ ]:
print(df['Behavior_code_num'].value_counts())

Behavior_code_num
0    304842
1      3826
Name: count, dtype: int64

In [ ]:
df_processed['Behavior_code_num'] = df['Behavior_code_num']

# 추가 결과 확인
print(df_processed[['Behavior_code_num']].head())

   Behavior_code_num
0                0.0
1                1.0
2                0.0
3                0.0
4                0.0

In [ ]:
print(df_processed.columns)

Index(['Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'One_vs_Other',
       'Radiation_binary', 'Race_Asian or Pacific Islander', 'Race_Black',
       'Race_Other (Unknown/AIAN)', 'Race_White', 'Sex_Female', 'Sex_Male',
       'AgeGroup_0-29', 'AgeGroup_30-34', 'AgeGroup_35-39', 'AgeGroup_40-44',
       'AgeGroup_45-49', 'AgeGroup_50-54', 'AgeGroup_55-59', 'AgeGroup_60-64',
       'AgeGroup_65-69', 'AgeGroup_70-74', 'AgeGroup_75-79', 'AgeGroup_80-84',
       'AgeGroup_85+', 'Marital_group', 'Marital_status_Married',
       'Marital_status_Previously Married', 'Marital_status_Single/Other',
       'Income_group', 'Income_HIGH', 'Income_LOW', 'Income_MIDDLE',
       'Rural-Urban_grouped', 'Rural_Urban_Large metro', 'Rural_Urban_Rural',
       'Rural_Urban_Small/Medium metro', 'Behavior_code_num'],
      dtype='object')

##T/N/M Stage [Stage_Number=0,1,2,3,4]

In [ ]:
df['T/N/M Stage'].value_counts()

T/N/M Stage
1A    176878
1B     48190
2A     27869
4      17535
2B     13860
3B      8610
3A      7901
0       3920
3C      3905
Name: count, dtype: int64

In [ ]:
def extract_stage_number(stage):
    import re
    match = re.search(r'\d', stage)
    if match:
        return int(match.group())
    else:
        return 0

df['Stage_Number'] = df['T/N/M Stage'].apply(extract_stage_number)

In [ ]:
print(df['Stage_Number'].value_counts())

Stage_Number
1    225068
2     41729
3     20416
4     17535
0      3920
Name: count, dtype: int64

In [ ]:
# 원본 df에서 Stage_Number 생성
import re

def extract_stage_number(stage):
    match = re.search(r'\d', stage)
    if match:
        return int(match.group())
    else:
        return 0

df['Stage_Number'] = df['T/N/M Stage'].apply(extract_stage_number)

# df_processed에 Stage_Number 컬럼 추가
df_processed['Stage_Number'] = df['Stage_Number']

# 결과 확인
print(df_processed[['T/N/M Stage', 'Stage_Number']].head())

  T/N/M Stage  Stage_Number
0          2A           2.0
1           0           0.0
2          1A           1.0
3          1A           1.0
4          1A           1.0

In [ ]:
import re

def extract_stage_number(stage):
    match = re.search(r'\d', stage)
    if match:
        return int(match.group())
    else:
        return 0

# Stage_Number 생성
df['Stage_Number'] = df['T/N/M Stage'].apply(extract_stage_number)

# Stage_Number 원핫 인코딩
stage_onehot = pd.get_dummies(df['Stage_Number'], prefix='Stage').astype(int)

# df_processed에 추가
df_processed = pd.concat([df_processed, stage_onehot], axis=1)

# 결과 확인
print(df_processed.filter(like='Stage_').head())

   Stage_Number  Stage_0  Stage_1  Stage_2  Stage_3  Stage_4
0           2.0      0.0      0.0      1.0      0.0      0.0
1           0.0      1.0      0.0      0.0      0.0      0.0
2           1.0      0.0      1.0      0.0      0.0      0.0
3           1.0      0.0      1.0      0.0      0.0      0.0
4           1.0      0.0      1.0      0.0      0.0      0.0

In [ ]:
print(df_processed.columns)

Index(['Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'One_vs_Other',
       'Radiation_binary', 'Race_Asian or Pacific Islander', 'Race_Black',
       'Race_Other (Unknown/AIAN)', 'Race_White', 'Sex_Female', 'Sex_Male',
       'AgeGroup_0-29', 'AgeGroup_30-34', 'AgeGroup_35-39', 'AgeGroup_40-44',
       'AgeGroup_45-49', 'AgeGroup_50-54', 'AgeGroup_55-59', 'AgeGroup_60-64',
       'AgeGroup_65-69', 'AgeGroup_70-74', 'AgeGroup_75-79', 'AgeGroup_80-84',
       'AgeGroup_85+', 'Marital_group', 'Marital_status_Married',
       'Marital_status_Previously Married', 'Marital_status_Single/Other',
       'Income_group', 'Income_HIGH', 'Income_LOW', 'Income_MIDDLE',
       'Rural-Urban_grouped', 'Rural_Urban_Large metro', 'Rural_Urban_Rural',
       'Rural_Urban_Small/Medium metro', 'Behavior_code_num', 'Stage_Number',
       'Stage_0', 'Stage_1', 'Stage_2', 'Stage_3', 'Stage_4'],
      dtype='object')

###Surg Prim Site(수치형)

In [ ]:
df['Surgery Prim Site'].value_counts()

Surgery Prim Site
22    127900
41     29807
0      27785
20     19033
23     16975
42     11772
30     11241
51     10852
24      9492
49      6537
45      5231
40      4532
47      3874
48      3829
52      3205
44      3199
43      3110
21      1295
50      1141
46      1001
59       951
55       785
75       753
57       654
53       599
58       552
54       513
99       421
80       361
61       306
56       165
62       143
19       118
63       115
90       105
60        68
76        49
68        33
64        32
69        29
66        22
65        18
73        14
74        13
67        12
72        10
70        10
71         6
Name: count, dtype: int64

In [ ]:
def surgery_group(code):
    try:
        code_int = int(code)
    except ValueError:
        return None  # 숫자로 변환 안되는 값은 제외

    if code_int == 0:
        return 0
    elif 10 <= code_int <= 39:
        return 1
    elif 40 <= code_int <= 69:
        return 2
    elif 70 <= code_int <= 80:
        return 3
    else:
        return None  # 80 이상 또는 범위 밖은 제외

# 예시: Surgery Prim Site 코드에 적용
df['Surgery_Group'] = df['Surgery Prim Site'].apply(surgery_group)

# 80 이상 등 그룹이 None인 행은 삭제하고 싶으면:
df = df[df['Surgery_Group'].notna()]

In [ ]:
df['Surgery_Group'].value_counts()

Surgery_Group
1.0    186054
2.0     93087
0.0     27785
3.0      1216
Name: count, dtype: int64

In [ ]:
# df_processed에 Surgery_Group 추가
df_processed['Surgery_prim'] = df['Surgery_Group']

# 결과 확인
print(df_processed[['Surgery_prim']].value_counts())

Surgery_prim
1.0             186054
2.0              93087
0.0              27785
3.0               1216
Name: count, dtype: int64

In [ ]:
surgery_prim_onehot = pd.get_dummies(df_processed['Surgery_prim'], prefix='Surgery_prim').astype(int)

# df_processed에 원핫인코딩 컬럼 병합
df_processed = pd.concat([df_processed, surgery_prim_onehot], axis=1)

# 결과 확인
print(df_processed.filter(like='Surgery_prim_').head())

   Surgery_prim_0.0  Surgery_prim_1.0  Surgery_prim_2.0  Surgery_prim_3.0
0                 0                 1                 0                 0
1                 0                 1                 0                 0
2                 1                 0                 0                 0
3                 0                 0                 1                 0
4                 0                 0                 1                 0

In [ ]:
print(df_processed.columns)

Index(['Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'One_vs_Other',
       'Radiation_binary', 'Race_Asian or Pacific Islander', 'Race_Black',
       'Race_Other (Unknown/AIAN)', 'Race_White', 'Sex_Female', 'Sex_Male',
       'AgeGroup_0-29', 'AgeGroup_30-34', 'AgeGroup_35-39', 'AgeGroup_40-44',
       'AgeGroup_45-49', 'AgeGroup_50-54', 'AgeGroup_55-59', 'AgeGroup_60-64',
       'AgeGroup_65-69', 'AgeGroup_70-74', 'AgeGroup_75-79', 'AgeGroup_80-84',
       'AgeGroup_85+', 'Marital_group', 'Marital_status_Married',
       'Marital_status_Previously Married', 'Marital_status_Single/Other',
       'Income_group', 'Income_HIGH', 'Income_LOW', 'Income_MIDDLE',
       'Rural-Urban_grouped', 'Rural_Urban_Large metro', 'Rural_Urban_Rural',
       'Rural_Urban_Small/Medium metro', 'Behavior_code_num', 'Stage_Number',
       'Stage_0', 'Stage_1', 'Stage_2', 'Stage_3', 'Stage_4', 'Surgery_prim',
       'Surgery_prim_0.0', 'Surgery_prim_1.0', 'Surgery_prim_2.0',
       'Surgery_prim_3.0'],
      dtype='object')

###Surgery Oth Reg/Dis [Yes=1, No=0]

In [ ]:
df['Surgery Oth Reg/Dis'].value_counts()

Surgery Oth Reg/Dis
0                                                               301669
Non-primary surgical procedure performed                          2538
Non-primary surgical procedure to other regional sites            1692
Non-primary surgical procedure to distant site                    1581
Non-primary surgical procedure to distant lymph node(s)            438
Any combo of sur proc to oth rg, dis lym nd, and/or dis site       150
Unknown; death certificate only                                     74
Name: count, dtype: int64

In [ ]:
df = df[df['Surgery Oth Reg/Dis'] != 'Unknown; death certificate only']
# '9'이 포함된 값 무시 (실제 데이터에 '9'가 있으면 아래 라인 활성화)
# df = df[~df['Surgery Oth Reg/Dis'].str.contains('9')]

# 수술 그룹 분류 함수
def surgery_other_group(value):
    if value == '0' or value == 'None; diagnosed at autopsy':
        return 0  # 수술 없음
    elif value in [
        'Non-primary surgical procedure performed',
        'Non-primary surgical procedure to other regional sites',
        'Non-primary surgical procedure to distant site',
        'Non-primary surgical procedure to distant lymph node(s)',
        'Any combo of sur proc to oth rg, dis lym nd, and/or dis site'
        ]:
        return 1  # 수술 있음 (2~6번 범주 모두 포함)
    else:
        return None  # 관심 없는 값(예: 9 등)

df['Surgery_Reg_Group'] = df['Surgery Oth Reg/Dis'].apply(surgery_other_group)

# None인 행 제거
df = df[df['Surgery_Reg_Group'].notna()]

In [ ]:
# df_processed에 Surgery_Reg_Group 컬럼 추가
df_processed['Surgery_Reg_Group'] = df['Surgery_Reg_Group']

# 결과 확인
print(df_processed[['Surgery_Reg_Group']].value_counts())

Surgery_Reg_Group
0.0                  301669
1.0                    6399
Name: count, dtype: int64

In [ ]:
print(df_processed.columns)

Index(['Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'One_vs_Other',
       'Radiation_binary', 'Race_Asian or Pacific Islander', 'Race_Black',
       'Race_Other (Unknown/AIAN)', 'Race_White', 'Sex_Female', 'Sex_Male',
       'AgeGroup_0-29', 'AgeGroup_30-34', 'AgeGroup_35-39', 'AgeGroup_40-44',
       'AgeGroup_45-49', 'AgeGroup_50-54', 'AgeGroup_55-59', 'AgeGroup_60-64',
       'AgeGroup_65-69', 'AgeGroup_70-74', 'AgeGroup_75-79', 'AgeGroup_80-84',
       'AgeGroup_85+', 'Marital_group', 'Marital_status_Married',
       'Marital_status_Previously Married', 'Marital_status_Single/Other',
       'Income_group', 'Income_HIGH', 'Income_LOW', 'Income_MIDDLE',
       'Rural-Urban_grouped', 'Rural_Urban_Large metro', 'Rural_Urban_Rural',
       'Rural_Urban_Small/Medium metro', 'Behavior_code_num', 'Stage_Number',
       'Stage_0', 'Stage_1', 'Stage_2', 'Stage_3', 'Stage_4', 'Surgery_prim',
       'Surgery_prim_0.0', 'Surgery_prim_1.0', 'Surgery_prim_2.0',
       'Surgery_prim_3.0', 'Surgery_Reg_Group'],
      dtype='object')

###Chemotherapy[Yes=1, No=0]

In [ ]:
df['Chemotherapy'].value_counts()

Chemotherapy
No/Unknown    196177
Yes           111891
Name: count, dtype: int64

In [ ]:
def chemo_binary(value):
    if value == 'No/Unknown':
        return 0
    elif value == 'Yes':
        return 1
    else:
        return None  # 혹시 다른 값은 None 처리

df['Chemo_Binary'] = df['Chemotherapy'].apply(chemo_binary)

print(df['Chemo_Binary'].value_counts())

Chemo_Binary
0    196177
1    111891
Name: count, dtype: int64

In [ ]:
df_processed['Chemo_therapy'] = df['Chemo_Binary']

print(df_processed['Chemo_therapy'].value_counts())

Chemo_therapy
0.0    196177
1.0    111891
Name: count, dtype: int64

##Cancer treatment delay

In [ ]:
df['cancer treatment delay'].value_counts()

cancer treatment delay
0                      23447
Unable to calculate     9179
28                      7881
35                      7655
27                      6623
                       ...
490                        1
533                        1
675                        1
528                        1
471                        1
Name: count, Length: 519, dtype: int64

In [ ]:
import numpy as np

def treatment_delay_fine_group(value):
    if pd.isna(value) or value == 'Unable to calculate':
        return np.nan
    if value in ['0', 0, '0-14일']:
        return 0
    elif value in ['1', 1, '15-30일']:
        return 1
    elif value in ['2', 2, '31-60일']:
        return 2
    elif value in ['3', '4', 3, 4, '61-90일', '91일 이상']:
        return 3
    else:
        try:
            day = int(str(value).replace('일', '').replace(' ', '').replace('~','').replace('-',''))
            if day <= 14:
                return 0
            elif day <= 30:
                return 1
            elif day <= 60:
                return 2
            else:
                return 3
        except:
            return np.nan

df_processed['treat_delay_fine_group'] = df['cancer treatment delay'].apply(treatment_delay_fine_group)
df_processed = df_processed[df_processed['treat_delay_fine_group'].notna()]

print(df_processed['treat_delay_fine_group'].value_counts(dropna=False))

treat_delay_fine_group
2.0    124695
1.0     76817
3.0     57877
0.0     39465
Name: count, dtype: int64

In [ ]:
# treat_delay_fine_group 원-핫 인코딩 생성
treat_delay_onehot = pd.get_dummies(df_processed['treat_delay_fine_group'], prefix='treat_delay').astype(int)

# df_processed에 병합
df_processed = pd.concat([df_processed, treat_delay_onehot], axis=1)

# 결과 확인
print(df_processed.filter(like='treat_delay').head())

   treat_delay_fine_group  treat_delay_0.0  treat_delay_1.0  treat_delay_2.0  \
0                     1.0                0                1                0
1                     1.0                0                1                0
3                     1.0                0                1                0
4                     0.0                1                0                0
5                     3.0                0                0                0

   treat_delay_3.0
0                0
1                0
3                0
4                0
5                1

##EOD

###Mets at Bone [Yes=1, No=0]

In [ ]:
df['Mets at bone'].value_counts()

Mets at bone
No         296318
Yes         11633
Unknown       117
Name: count, dtype: int64

In [ ]:
import numpy as np

def chemo_binary(value):
    if value == 'No':
        return 0
    elif value == 'Yes':
        return 1
    else:
        return None  # 기타 값은 None 처리

# Mets_brain 변수 생성
df['Mets_bone'] = df['Mets at bone'].apply(chemo_binary)

# 결측값 행 제거
df = df[df['Mets_bone'].notna()]

# df_processed 인덱스 동기화
df_processed = df_processed.reindex(df.index)

# df_processed에 변수 복사
df_processed['Mets_bone'] = df.loc[df_processed.index, 'Mets_bone']

# 결과 출력
print(df['Mets_bone'].value_counts())

Mets_bone
0.0    296318
1.0     11633
Name: count, dtype: int64

###Mets at Brain [Yes=1, No=0]

In [ ]:
df['Mets at brain'].value_counts()

Mets at brain
No         306527
Yes          1266
Unknown       158
Name: count, dtype: int64

In [ ]:
def chemo_binary(value):
    if value == 'No':
        return 0
    elif value == 'Yes':
        return 1
    else:
        return None  # 기타 값은 None 처리

# Mets_brain 변수 생성
df['Mets_brain'] = df['Mets at brain'].apply(chemo_binary)

# 결측값 행 제거
df = df[df['Mets_brain'].notna()]

# df_processed 인덱스 동기화
df_processed = df_processed.reindex(df.index)

# df_processed에 변수 복사
df_processed['Mets_brain'] = df.loc[df_processed.index, 'Mets_brain']

# 결과 출력
print(df['Mets_brain'].value_counts())

Mets_brain
0.0    306527
1.0      1266
Name: count, dtype: int64

###Mets at Liver [Yes=1, No=0]

In [ ]:
df['Mets at liver'].value_counts()

Mets at liver
No         303679
Yes          4040
Unknown        74
Name: count, dtype: int64

In [ ]:
def chemo_binary(value):
    if value == 'No':
        return 0
    elif value == 'Yes':
        return 1
    else:
        return None  # 기타 값은 None 처리

# Mets_liver 변수 생성
df['Mets_liver'] = df['Mets at liver'].apply(chemo_binary)

# 결측값 행 제거
df = df[df['Mets_liver'].notna()]

# df_processed 인덱스 동기화
df_processed = df_processed.reindex(df.index)

# df_processed에 변수 복사
df_processed['Mets_liver'] = df.loc[df_processed.index, 'Mets_liver']

# 결과 출력
print(df['Mets_liver'].value_counts())

Mets_liver
0.0    303679
1.0      4040
Name: count, dtype: int64

###Mets at Lung [Yes=1, No=0]

In [ ]:
df['Mets at lung'].value_counts()

Mets at lung
No         302577
Yes          5004
Unknown       138
Name: count, dtype: int64

In [ ]:
def chemo_binary(value):
    if value == 'No':
        return 0
    elif value == 'Yes':
        return 1
    else:
        return None  # 기타 값은 None 처리

# Mets_lung 변수 생성
df['Mets_lung'] = df['Mets at lung'].apply(chemo_binary)

# 결측값 행 제거
df = df[df['Mets_lung'].notna()]

# df_processed 인덱스와 동기화
df_processed = df_processed.reindex(df.index)

# df_processed에 변수 복사
df_processed['Mets_lung'] = df.loc[df_processed.index, 'Mets_lung']

# 결과 출력
print(df['Mets_lung'].value_counts())

Mets_lung
0.0    302577
1.0      5004
Name: count, dtype: int64

In [ ]:
print(df_processed.columns)

Index(['Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'One_vs_Other',
       'Radiation_binary', 'Race_Asian or Pacific Islander', 'Race_Black',
       'Race_Other (Unknown/AIAN)', 'Race_White', 'Sex_Female', 'Sex_Male',
       'AgeGroup_0-29', 'AgeGroup_30-34', 'AgeGroup_35-39', 'AgeGroup_40-44',
       'AgeGroup_45-49', 'AgeGroup_50-54', 'AgeGroup_55-59', 'AgeGroup_60-64',
       'AgeGroup_65-69', 'AgeGroup_70-74', 'AgeGroup_75-79', 'AgeGroup_80-84',
       'AgeGroup_85+', 'Marital_group', 'Marital_status_Married',
       'Marital_status_Previously Married', 'Marital_status_Single/Other',
       'Income_group', 'Income_HIGH', 'Income_LOW', 'Income_MIDDLE',
       'Rural-Urban_grouped', 'Rural_Urban_Large metro', 'Rural_Urban_Rural',
       'Rural_Urban_Small/Medium metro', 'Behavior_code_num', 'Stage_Number',
       'Stage_0', 'Stage_1', 'Stage_2', 'Stage_3', 'Stage_4', 'Surgery_prim',
       'Surgery_prim_0.0', 'Surgery_prim_1.0', 'Surgery_prim_2.0',
       'Surgery_prim_3.0', 'Surgery_Reg_Group', 'Chemo_therapy',
       'treat_delay_fine_group', 'treat_delay_0.0', 'treat_delay_1.0',
       'treat_delay_2.0', 'treat_delay_3.0', 'Mets_bone', 'Mets_brain',
       'Mets_liver', 'Mets_lung'],
      dtype='object')

#ER,PR,HER(pos=1,neg=0)

##ER

In [ ]:
df['ER'].value_counts()

ER
Positive    261534
Negative     46047
Name: count, dtype: int64

In [ ]:
df['ER'] = df['ER'].map({'Positive': 1, 'Negative': 0})

In [ ]:
print(df['ER'].value_counts())

ER
1    261534
0     46047
Name: count, dtype: int64

##PR

In [ ]:
df['PR'].value_counts()

PR
Positive    228605
Negative     78976
Name: count, dtype: int64

In [ ]:
df['PR'] = df['PR'].map({'Positive': 1, 'Negative': 0})

In [ ]:
print(df['PR'].value_counts())

PR
1    228605
0     78976
Name: count, dtype: int64

##HER2

In [ ]:
df['HER2'].value_counts()

HER2
Negative    266842
Positive     40739
Name: count, dtype: int64

In [ ]:
df['HER2'] = df['HER2'].map({'Positive': 1, 'Negative': 0})

In [ ]:
print(df['HER2'].value_counts())

HER2
0    266842
1     40739
Name: count, dtype: int64

In [ ]:
# 매핑 딕셔너리 정의
mapping = {'Positive': 1, 'Negative': 0}

for col in ['ER', 'PR', 'HER2']:
    df_processed[col] = df[col].map(mapping)

# 결과 확인
print(df_processed[['ER', 'PR', 'HER2']].head())

   ER  PR  HER2
0   0   0     0
1   1   1     0
2   1   1     0
3   1   1     0
4   1   1     0

In [ ]:
print(df_processed.columns)

Index(['ER', 'HER2', 'PR', 'One_vs_Other', 'Radiation_binary',
       'Race_Asian or Pacific Islander', 'Race_Black',
       'Race_Other (Unknown/AIAN)', 'Race_White', 'Sex_Female', 'Sex_Male',
       'AgeGroup_0-29', 'AgeGroup_30-34', 'AgeGroup_35-39', 'AgeGroup_40-44',
       'AgeGroup_45-49', 'AgeGroup_50-54', 'AgeGroup_55-59', 'AgeGroup_60-64',
       'AgeGroup_65-69', 'AgeGroup_70-74', 'AgeGroup_75-79', 'AgeGroup_80-84',
       'AgeGroup_85+', 'Marital_status_Married',
       'Marital_status_Previously Married', 'Marital_status_Single/Other',
       'Income_HIGH', 'Income_LOW', 'Income_MIDDLE', 'Rural_Urban_Large metro',
       'Rural_Urban_Rural', 'Rural_Urban_Small/Medium metro',
       'Behavior_code_num', 'Stage_0', 'Stage_1', 'Stage_2', 'Stage_3',
       'Stage_4', 'Surgery_prim_0.0', 'Surgery_prim_1.0', 'Surgery_prim_2.0',
       'Surgery_prim_3.0', 'Surgery_Reg_Group', 'Chemo_therapy',
       'treat_delay_0.0', 'treat_delay_1.0', 'treat_delay_2.0',
       'treat_delay_3.0', 'Mets_bone', 'Mets_brain', 'Mets_liver', 'Mets_lung',
       'First_vs_Later', 'Survival_months'],
      dtype='object')

#Sequence number

In [ ]:
df = pd.read_csv(file_path)

In [ ]:
df['Sequence number'].value_counts()

Sequence number
One primary only              228428
2nd of 2 or more primaries     49645
1st of 2 or more primaries     20442
3rd of 3 or more primaries      8800
4th of 4 or more primaries      1441
5th of 5 or more primaries       288
Name: count, dtype: int64

In [ ]:
print(df.columns.to_list())
print(df_processed.columns.to_list())

['Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR', 'T/N/M Stage', 'Behavior code', 'Sequence number', 'Chemotherapy', 'Mets all', 'Mets at bone', 'Mets at brain', 'Mets at liver', 'Mets at lung', 'Radiation', 'Surgery Oth Reg/Dis', 'Surgery Prim Site', 'Rural-Urban', 'cancer treatment delay', 'Income', 'Survival months', 'Cancer Site', 'One_vs_Other', 'First_vs_Later']
['ER', 'HER2', 'PR', 'One_vs_Other', 'Radiation_binary', 'Race_Asian or Pacific Islander', 'Race_Black', 'Race_Other (Unknown/AIAN)', 'Race_White', 'Sex_Female', 'Sex_Male', 'AgeGroup_0-29', 'AgeGroup_30-34', 'AgeGroup_35-39', 'AgeGroup_40-44', 'AgeGroup_45-49', 'AgeGroup_50-54', 'AgeGroup_55-59', 'AgeGroup_60-64', 'AgeGroup_65-69', 'AgeGroup_70-74', 'AgeGroup_75-79', 'AgeGroup_80-84', 'AgeGroup_85+', 'Marital_status_Married', 'Marital_status_Previously Married', 'Marital_status_Single/Other', 'Income_HIGH', 'Income_LOW', 'Income_MIDDLE', 'Rural_Urban_Large metro', 'Rural_Urban_Rural', 'Rural_Urban_Small/Medium metro', 'Behavior_code_num', 'Stage_0', 'Stage_1', 'Stage_2', 'Stage_3', 'Stage_4', 'Surgery_prim_0.0', 'Surgery_prim_1.0', 'Surgery_prim_2.0', 'Surgery_prim_3.0', 'Surgery_Reg_Group', 'Chemo_therapy', 'treat_delay_0.0', 'treat_delay_1.0', 'treat_delay_2.0', 'treat_delay_3.0', 'Mets_bone', 'Mets_brain', 'Mets_liver', 'Mets_lung', 'First_vs_Later', 'Survival_months']

### One VS Other[one=1,other=0]

In [ ]:
# 1단계: One_vs_Other 컬럼 생성
df['One_vs_Other'] = df['Sequence number'].apply(lambda x: 1 if x == 'One primary only' else 0)

# 2단계: df_processed 인덱스를 df와 일치시키며 복사
df_processed = df_processed.reindex(df.index).copy()

# 3단계: 컬럼을 안전하게 추가
df_processed['One_vs_Other'] = df['One_vs_Other']

# 결과 확인
print(df_processed[['One_vs_Other']].head())
print(df['One_vs_Other'].value_counts())

   One_vs_Other
0             0
1             0
2             0
3             0
4             0
One_vs_Other
1    228428
0     80616
Name: count, dtype: int64

### First VS Later[first=1,else=0]

In [ ]:
import numpy as np

# 결측 없이 0 또는 1로 처리하는 함수
def first_vs_later_no_nan(value):
    if value == '1st of 2 or more primaries':
        return 1
    else:
        return 0  # 'One primary only' 포함 나머지 모두 0 처리

# 변수 생성
df['First_vs_Later'] = df['Sequence number'].apply(first_vs_later_no_nan)

# df_processed 인덱스 동기화 후 변수 복사
df_processed = df_processed.reindex(df.index)
df_processed['First_vs_Later'] = df.loc[df_processed.index, 'First_vs_Later']

# (원핫인코딩 없이) 이진 컬럼 그대로 사용

# 결과 확인
print(df['First_vs_Later'].value_counts())
print(df_processed['First_vs_Later'].head())

First_vs_Later
0    288602
1     20442
Name: count, dtype: int64
0    0
1    0
2    0
3    0
4    0
Name: First_vs_Later, dtype: int64

In [ ]:
print(df_processed.columns)

Index(['ER', 'HER2', 'PR', 'One_vs_Other', 'Radiation_binary',
       'Race_Asian or Pacific Islander', 'Race_Black',
       'Race_Other (Unknown/AIAN)', 'Race_White', 'Sex_Female', 'Sex_Male',
       'AgeGroup_0-29', 'AgeGroup_30-34', 'AgeGroup_35-39', 'AgeGroup_40-44',
       'AgeGroup_45-49', 'AgeGroup_50-54', 'AgeGroup_55-59', 'AgeGroup_60-64',
       'AgeGroup_65-69', 'AgeGroup_70-74', 'AgeGroup_75-79', 'AgeGroup_80-84',
       'AgeGroup_85+', 'Marital_status_Married',
       'Marital_status_Previously Married', 'Marital_status_Single/Other',
       'Income_HIGH', 'Income_LOW', 'Income_MIDDLE', 'Rural_Urban_Large metro',
       'Rural_Urban_Rural', 'Rural_Urban_Small/Medium metro',
       'Behavior_code_num', 'Stage_0', 'Stage_1', 'Stage_2', 'Stage_3',
       'Stage_4', 'Surgery_prim_0.0', 'Surgery_prim_1.0', 'Surgery_prim_2.0',
       'Surgery_prim_3.0', 'Surgery_Reg_Group', 'Chemo_therapy',
       'treat_delay_0.0', 'treat_delay_1.0', 'treat_delay_2.0',
       'treat_delay_3.0', 'Mets_bone', 'Mets_brain', 'Mets_liver', 'Mets_lung',
       'First_vs_Later', 'Survival_months'],
      dtype='object')

In [ ]:
# 1. Sequence number 값별 분포 확인
print(df['Sequence number'].value_counts(dropna=False))

# 2. First_vs_Later 할당 후 결측 개수 및 원인값 확인
print(df['First_vs_Later'].isna().sum())
print(df.loc[df['First_vs_Later'].isna(), 'Sequence number'].value_counts())

# 3. 전체 df와 df_processed 결측값 개수 확인
print(df.isna().sum())
print(df_processed.isna().sum())

# 4. 결측 발생 컬럼별 검사 예시
for col in df.columns:
    missing = df[col].isna().sum()
    if missing > 0:
        print(f"{col}: {missing} missing")

# 5. 결측 제거 전에 어디서 결측이 발생하는지 단계별 중간 중간 변수 출력으로 점검

Sequence number
One primary only              228428
2nd of 2 or more primaries     49645
1st of 2 or more primaries     20442
3rd of 3 or more primaries      8800
4th of 4 or more primaries      1441
5th of 5 or more primaries       288
Name: count, dtype: int64
0
Series([], Name: count, dtype: int64)
Sex                       0
Age                       0
Race                      0
Marital status            0
ER                        0
HER2                      0
PR                        0
T/N/M Stage               0
Behavior code             0
Sequence number           0
Chemotherapy              0
Mets all                  0
Mets at bone              0
Mets at brain             0
Mets at liver             0
Mets at lung              0
Radiation                 0
Surgery Oth Reg/Dis       0
Surgery Prim Site         0
Rural-Urban               0
cancer treatment delay    0
Income                    0
Survival months           0
Cancer Site               0
One_vs_Other              0
First_vs_Later            0
dtype: int64
ER                                   0
HER2                                 0
PR                                   0
One_vs_Other                         0
Radiation_binary                     0
Race_Asian or Pacific Islander       0
Race_Black                           0
Race_Other (Unknown/AIAN)            0
Race_White                           0
Sex_Female                           0
Sex_Male                             0
AgeGroup_0-29                        0
AgeGroup_30-34                       0
AgeGroup_35-39                       0
AgeGroup_40-44                       0
AgeGroup_45-49                       0
AgeGroup_50-54                       0
AgeGroup_55-59                       0
AgeGroup_60-64                       0
AgeGroup_65-69                       0
AgeGroup_70-74                       0
AgeGroup_75-79                       0
AgeGroup_80-84                       0
AgeGroup_85+                         0
Marital_status_Married               0
Marital_status_Previously Married    0
Marital_status_Single/Other          0
Income_HIGH                          0
Income_LOW                           0
Income_MIDDLE                        0
Rural_Urban_Large metro              0
Rural_Urban_Rural                    0
Rural_Urban_Small/Medium metro       0
Behavior_code_num                    0
Stage_0                              0
Stage_1                              0
Stage_2                              0
Stage_3                              0
Stage_4                              0
Surgery_prim_0.0                     0
Surgery_prim_1.0                     0
Surgery_prim_2.0                     0
Surgery_prim_3.0                     0
Surgery_Reg_Group                    0
Chemo_therapy                        0
treat_delay_0.0                      0
treat_delay_1.0                      0
treat_delay_2.0                      0
treat_delay_3.0                      0
Mets_bone                            0
Mets_brain                           0
Mets_liver                           0
Mets_lung                            0
First_vs_Later                       0
Survival_months                      0
dtype: int64

In [ ]:
print("df shape:", df.shape)
print("df_processed shape:", df_processed.shape)

print("\n--- 인덱스 확인 ---")
print("df index head:", df.index[:10])
print("df_processed index head:", df_processed.index[:10])

print("\n--- 공통 인덱스 개수 ---")
print(len(df.index.intersection(df_processed.index)))

print("\n--- NaN 개수 ---")
print("df NaN:", df.isna().sum().sum())
print("df_processed NaN:", df_processed.isna().sum().sum())

df shape: (309044, 26)
df_processed shape: (309044, 55)

--- 인덱스 확인 ---
df index head: RangeIndex(start=0, stop=10, step=1)
df_processed index head: RangeIndex(start=0, stop=10, step=1)

--- 공통 인덱스 개수 ---
309044

--- NaN 개수 ---
df NaN: 0
df_processed NaN: 0

In [ ]:
df_processed.isna().sum().sort_values(ascending=False).head(20)

ER                                0
HER2                              0
PR                                0
One_vs_Other                      0
Radiation_binary                  0
Race_Asian or Pacific Islander    0
Race_Black                        0
Race_Other (Unknown/AIAN)         0
Race_White                        0
Sex_Female                        0
Sex_Male                          0
AgeGroup_0-29                     0
AgeGroup_30-34                    0
AgeGroup_35-39                    0
AgeGroup_40-44                    0
AgeGroup_45-49                    0
AgeGroup_50-54                    0
AgeGroup_55-59                    0
AgeGroup_60-64                    0
AgeGroup_65-69                    0
dtype: int64

In [ ]:
# 범주형 변수라면 0으로 채움 (one-hot encoding 결과)
df_processed = df_processed.fillna(0)

# 또는 평균/중앙값으로 채움 (숫자형 변수라면)
df_processed = df_processed.fillna(df_processed.median(numeric_only=True))

In [ ]:
df_processed = df_processed.dropna(axis=1, how="all")

In [ ]:
print(df_processed.columns)

Index(['ER', 'HER2', 'PR', 'One_vs_Other', 'Radiation_binary',
       'Race_Asian or Pacific Islander', 'Race_Black',
       'Race_Other (Unknown/AIAN)', 'Race_White', 'Sex_Female', 'Sex_Male',
       'AgeGroup_0-29', 'AgeGroup_30-34', 'AgeGroup_35-39', 'AgeGroup_40-44',
       'AgeGroup_45-49', 'AgeGroup_50-54', 'AgeGroup_55-59', 'AgeGroup_60-64',
       'AgeGroup_65-69', 'AgeGroup_70-74', 'AgeGroup_75-79', 'AgeGroup_80-84',
       'AgeGroup_85+', 'Marital_status_Married',
       'Marital_status_Previously Married', 'Marital_status_Single/Other',
       'Income_HIGH', 'Income_LOW', 'Income_MIDDLE', 'Rural_Urban_Large metro',
       'Rural_Urban_Rural', 'Rural_Urban_Small/Medium metro',
       'Behavior_code_num', 'Stage_0', 'Stage_1', 'Stage_2', 'Stage_3',
       'Stage_4', 'Surgery_prim_0.0', 'Surgery_prim_1.0', 'Surgery_prim_2.0',
       'Surgery_prim_3.0', 'Surgery_Reg_Group', 'Chemo_therapy',
       'treat_delay_0.0', 'treat_delay_1.0', 'treat_delay_2.0',
       'treat_delay_3.0', 'Mets_bone', 'Mets_brain', 'Mets_liver', 'Mets_lung',
       'First_vs_Later', 'Survival_months'],
      dtype='object')

In [ ]:
# df_processed 인덱스에 맞춰 'Survival months' 컬럼 복사
df_processed['Survival_months'] = df.loc[df_processed.index, 'Survival months']

# 결과 확인
print(df_processed['Survival_months'].head())

0    59
1    52
2    38
3    49
4    13
Name: Survival_months, dtype: int64

#최종확인

In [ ]:
# 삭제할 원본 컬럼 리스트 (필요에 따라 조정 가능)
cols_to_drop = [ 'Sex', 'Age', 'Race', 'Marital status',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'Age_group',
       'Stage_Number','Race_grouped'
     ,'Marital_group','Rural-Urban_grouped','treat_delay_fine_group', 'Income_group','Radiation_0', 'Radiation_1','Surgery_prim'

]
# df_processed에서 불필요한 컬럼 삭제
df_processed = df_processed.drop(columns=cols_to_drop, errors='ignore')

# 필요한 컬럼만 선택(필요하면 아래 구문으로 출력 확인)
print(df_processed[cols_to_keep].head())

NameError: name 'cols_to_keep' is not defined

In [ ]:
null_counts = df.isnull().sum()
print(null_counts)
print(null_counts[null_counts > 0])

Sex                       0
Age                       0
Race                      0
Marital status            0
ER                        0
HER2                      0
PR                        0
T/N/M Stage               0
Behavior code             0
Sequence number           0
Chemotherapy              0
Mets all                  0
Mets at bone              0
Mets at brain             0
Mets at liver             0
Mets at lung              0
Radiation                 0
Surgery Oth Reg/Dis       0
Surgery Prim Site         0
Rural-Urban               0
cancer treatment delay    0
Income                    0
Survival months           0
Cancer Site               0
One_vs_Other              0
First_vs_Later            0
dtype: int64
Series([], dtype: int64)

In [ ]:
print(df_processed.columns)

Index(['ER', 'HER2', 'PR', 'One_vs_Other', 'Radiation_binary',
       'Race_Asian or Pacific Islander', 'Race_Black',
       'Race_Other (Unknown/AIAN)', 'Race_White', 'Sex_Female', 'Sex_Male',
       'AgeGroup_0-29', 'AgeGroup_30-34', 'AgeGroup_35-39', 'AgeGroup_40-44',
       'AgeGroup_45-49', 'AgeGroup_50-54', 'AgeGroup_55-59', 'AgeGroup_60-64',
       'AgeGroup_65-69', 'AgeGroup_70-74', 'AgeGroup_75-79', 'AgeGroup_80-84',
       'AgeGroup_85+', 'Marital_status_Married',
       'Marital_status_Previously Married', 'Marital_status_Single/Other',
       'Income_HIGH', 'Income_LOW', 'Income_MIDDLE', 'Rural_Urban_Large metro',
       'Rural_Urban_Rural', 'Rural_Urban_Small/Medium metro',
       'Behavior_code_num', 'Stage_0', 'Stage_1', 'Stage_2', 'Stage_3',
       'Stage_4', 'Surgery_prim_0.0', 'Surgery_prim_1.0', 'Surgery_prim_2.0',
       'Surgery_prim_3.0', 'Surgery_Reg_Group', 'Chemo_therapy',
       'treat_delay_0.0', 'treat_delay_1.0', 'treat_delay_2.0',
       'treat_delay_3.0', 'Mets_bone', 'Mets_brain', 'Mets_liver', 'Mets_lung',
       'First_vs_Later', 'Survival_months'],
      dtype='object')

In [ ]:
save_path_new = '/content/drive/MyDrive/세미2차/processed_data_v22.csv'
df_processed.to_csv(save_path_new, index=False, encoding='utf-8-sig')