In [ ]:
#pip install pandas numpy matplotlib seaborn

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (1.26.0)
Requirement already satisfied: matplotlib in c:\users\user\anaconda3\lib\site-packages (3.9.2)
Requirement already satisfied: seaborn in c:\users\user\anaconda3\lib\site-packages (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np
np.set_printoptions(precision=4, suppress=True)
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
file_path ='E:\(세미2)breastcancerdb\data\BREAST1.csv'
file_path

<>:1: SyntaxWarning: invalid escape sequence '\('
<>:1: SyntaxWarning: invalid escape sequence '\('
C:\Users\user\AppData\Local\Temp\ipykernel_12576\1525194409.py:1: SyntaxWarning: invalid escape sequence '\('
  file_path ='E:\(세미2)breastcancerdb\data\BREAST1.csv'

'E:\\(세미2)breastcancerdb\\data\\BREAST1.csv'

In [9]:
df= pd.read_csv(file_path)
df.head()

,Sex,Age,Race,Marital status,ER,HER2,PR,T/N/M Stage,Behavior code,Sequence number,...,Mets at liver,Mets at lung,Radiation,Surgery Oth Reg/Dis,Surgery Prim Site,Rural-Urban,cancer treatment delay,Income,Survival months,Cancer Site
0,Female,70-74 years,White,Never married,Negative,Negative,Negative,2A,Malignant,2nd of 2 or more primaries,...,No,No,Beam radiation,0,22,Large Metro,28,"$120,000+",59,Breast
1,Female,80-84 years,White,Widowed,Positive,Negative,Positive,0,In situ,4th of 4 or more primaries,...,No,No,Refused (1988+),0,22,Large Metro,27,"$120,000+",52,Breast
2,Female,60-64 years,White,Unknown,Positive,Negative,Positive,1A,Malignant,2nd of 2 or more primaries,...,No,No,None/Unknown,0,0,Large Metro,Unable to calculate,"$120,000+",38,Breast
3,Female,70-74 years,Asian or Pacific Islander,Widowed,Positive,Negative,Positive,1A,Malignant,3rd of 3 or more primaries,...,No,No,None/Unknown,0,41,Large Metro,27,"$120,000+",49,Breast
4,Female,45-49 years,Asian or Pacific Islander,Married (including common law),Positive,Negative,Positive,1A,Malignant,2nd of 2 or more primaries,...,No,No,None/Unknown,0,49,Large Metro,9,"$120,000+",13,Breast

In [12]:
# 전처리


# 분석 대상 열 목록
columns_to_check = [
   'Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'Chemotherapy',
       'Mets all', 'Mets at bone', 'Mets at brain', 'Mets at liver',
       'Mets at lung', 'Radiation', 'Surgery Oth Reg/Dis', 'Surgery Prim Site',
       'Rural-Urban', 'cancer treatment delay', 'Income', 'Survival months',
       'Cancer Site'
]

# 컬럼별 고유값 카운트 출력
for col in columns_to_check:
    print(f"\n===== [{col}] =====")
    print(df[col].value_counts(dropna=False))  # NaN 포함해서 카운트

##RACE [True=1, False=0]

df['Race'].value_counts()

# Race 변수 처리
df['Race_grouped'] = df['Race'].replace({
    'Unknown': 'Other (Unknown/AIAN)',
    'American Indian/Alaska Native': 'Other (Unknown/AIAN)'
})

print(df['Race_grouped'].value_counts())

# Race>> Race_grouped 이름 변경

# Race_grouped만 원-핫 인코딩
race_dummies = pd.get_dummies(df['Race_grouped'], prefix='Race')


print(race_dummies)



# 원-핫 인코딩 후 0/1 숫자로 변환
marital_dummies = pd.get_dummies(df['Race_grouped'], prefix='Race').astype(int)

print(marital_dummies)

##SEX [Male: 0, 'Female:1 ]



df['Sex'].value_counts()

df['Sex'] = df['Sex'].map({'Male': 0, 'Female': 1})

print(df['Sex'].value_counts())

##AGE(연속형 그대로 사용)

df['Age'].value_counts()



# Age 그룹화 함수
def age_group(age):
    if age <= 29:
        return "0-29"
    elif age >= 85:
        return "85+"
    else:
        return f"{(age//5)*5}-{(age//5)*5 + 4}"

# 숫자만 추출 후 그룹화
df['Age_group'] = df['Age'].str.extract(r'(\d+)').astype(int)[0].apply(age_group)

print(df['Age_group'].value_counts().sort_index())

# Age>> Age_group 이름 변경

## Marital [True=1, False=0]

df['Marital status'].value_counts()

# 매핑 딕셔너리 정의
marital_map = {
    'Married (including common law)': 'Married',
    'Divorced': 'Previously Married',
    'Separated': 'Previously Married',
    'Widowed': 'Previously Married',
    'Never married': 'Single/Other',
    'Unknown': 'Single/Other',
    'Unmarried or Domestic Partner': 'Single/Other'
}

# 새 컬럼 생성
df['Marital_group'] = df['Marital status'].replace(marital_map)

# 결과 확인
print(df['Marital_group'].value_counts())

#Marital_group 로 이름 변경

# Marital_group만 원-핫 인코딩
marital_dummies = pd.get_dummies(df['Marital_group'], prefix='Marital')

print(marital_dummies)

# 원-핫 인코딩 후 0/1 숫자로 변환
marital_dummies = pd.get_dummies(df['Marital_group'], prefix='Marital').astype(int)

print(marital_dummies)

##Income(연속형 그대로 사용)

df['Income'].value_counts()

# 1. Unknown 제거
df = df[df['Income'] != 'Unknown/missing/no match/Not 1990-2023']

# $ 제거
df['Income'] = df['Income'].str.replace('$', '', regex=False)

print(df['Income'].value_counts())

##Rural-Urban [True=1, False=0]

df['Rural-Urban'].value_counts()

df = df[~df['Rural-Urban'].str.contains("Unknown/missing")]

def group_urban_rural(x):
    if 'Large Metro' in x:
        return 'Large metro'
    elif 'metropolitan areas of' in x:
        return 'Small/Medium metro'
    else:
        return 'Rural'

df['Rural-Urban_grouped'] = df['Rural-Urban'].apply(group_urban_rural)

print(df['Rural-Urban_grouped'].value_counts())

# Race_grouped만 원-핫 인코딩
race_dummies = pd.get_dummies(df['Rural-Urban_grouped'], prefix='Rural-Urban')


print(race_dummies)

# 원-핫 인코딩 후 0/1 숫자로 변환
marital_dummies = pd.get_dummies(df['Rural-Urban_grouped'], prefix='Rural-Urban').astype(int)

print(marital_dummies)

##Behavior code [In situ=1, Malignant=0]

df['Behavior code'].value_counts()

mapping = {'In situ': 1, 'Malignant': 0}
df['Behavior_code_num'] = df['Behavior code'].map(mapping)

print(df['Behavior_code_num'].value_counts())



##T/N/M Stage [Stage_Number=0,1,2,3,4]

df = pd.read_csv(file_path)
print(df.columns)

df['T/N/M Stage'].value_counts()

def extract_stage_number(stage):
    import re
    match = re.search(r'\d', stage)
    if match:
        return int(match.group())
    else:
        return 0

df['Stage_Number'] = df['T/N/M Stage'].apply(extract_stage_number)


print(df['Stage_Number'].value_counts())

##Therapy

###Surg Prim Site(수치형)


df = pd.read_csv(file_path)
print(df.columns)

df['Surgery Prim Site'].value_counts()

def surgery_group(code):
    try:
        code_int = int(code)
    except ValueError:
        return None  # 숫자로 변환 안되는 값은 제외

    if code_int == 0:
        return 0
    elif 10 <= code_int <= 39:
        return 1
    elif 40 <= code_int <= 69:
        return 2
    elif 70 <= code_int <= 80:
        return 3
    else:
        return None  # 80 이상 또는 범위 밖은 제외

# 예시: Surgery Prim Site 코드에 적용
df['Surgery_Group'] = df['Surgery Prim Site'].apply(surgery_group)

# 80 이상 등 그룹이 None인 행은 삭제하고 싶으면:
df = df[df['Surgery_Group'].notna()]

df['Surgery_Group'].value_counts()

###Surgery Oth Reg/Dis [Yes=1, No=0]

df['Surgery Oth Reg/Dis'].value_counts()

df = df[df['Surgery Oth Reg/Dis'] != 'Unknown; death certificate only']
# '9'이 포함된 값 무시 (실제 데이터에 '9'가 있으면 아래 라인 활성화)
# df = df[~df['Surgery Oth Reg/Dis'].str.contains('9')]

# 수술 그룹 분류 함수
def surgery_other_group(value):
    if value == '0' or value == 'None; diagnosed at autopsy':
        return 0  # 수술 없음
    elif value in [
        'Non-primary surgical procedure performed',
        'Non-primary surgical procedure to other regional sites',
        'Non-primary surgical procedure to distant site',
        'Non-primary surgical procedure to distant lymph node(s)',
        'Any combo of sur proc to oth rg, dis lym nd, and/or dis site'
        ]:
        return 1  # 수술 있음 (2~6번 범주 모두 포함)
    else:
        return None  # 관심 없는 값(예: 9 등)

df['Surgery_Reg_Group'] = df['Surgery Oth Reg/Dis'].apply(surgery_other_group)

# None인 행 제거
df = df[df['Surgery_Reg_Group'].notna()]


print(df['Surgery_Reg_Group'].value_counts())

### Radiation[Yes=1, No=0]

###Chemotherapy[Yes=1, No=0]

df['Chemotherapy'].value_counts()

def chemo_binary(value):
    if value == 'No/Unknown':
        return 0
    elif value == 'Yes':
        return 1
    else:
        return None  # 혹시 다른 값은 None 처리

df['Chemo_Binary'] = df['Chemotherapy'].apply(chemo_binary)

print(df['Chemo_Binary'].value_counts())

##Cancer treatment delay(연속형 그대로 사용)



df['cancer treatment delay'].value_counts()

##EOD

###Mets at Bone [Yes=1, No=0]

df['Mets at bone'].value_counts()

def chemo_binary(value):
    if value == 'No':
        return 0
    elif value == 'Yes':
        return 1
    else:
        return None  # 혹시 다른 값은 None 처리

df['Mets_bone'] = df['Mets at bone'].apply(chemo_binary)
df = df[df['Mets_bone'].notna()]
print(df['Mets_bone'].value_counts())

###Mets at Brain [Yes=1, No=0]

df['Mets at brain'].value_counts()

def chemo_binary(value):
    if value == 'No':
        return 0
    elif value == 'Yes':
        return 1
    else:
        return None  # 혹시 다른 값은 None 처리

df['Mets_brain'] = df['Mets at brain'].apply(chemo_binary)
df = df[df['Mets_brain'].notna()]
print(df['Mets_brain'].value_counts())

###Mets at Liver [Yes=1, No=0]

df['Mets at liver'].value_counts()

def chemo_binary(value):
    if value == 'No':
        return 0
    elif value == 'Yes':
        return 1
    else:
        return None  # 혹시 다른 값은 None 처리

df['Mets_liver'] = df['Mets at liver'].apply(chemo_binary)
df = df[df['Mets_liver'].notna()]
print(df['Mets_liver'].value_counts())

###Mets at Lung [Yes=1, No=0]

df['Mets at lung'].value_counts()

def chemo_binary(value):
    if value == 'No':
        return 0
    elif value == 'Yes':
        return 1
    else:
        return None  # 혹시 다른 값은 None 처리

df['Mets_lung'] = df['Mets at lung'].apply(chemo_binary)
df = df[df['Mets_lung'].notna()]
print(df['Mets_lung'].value_counts())

#ER,PR,HER(pos=1,neg=0)

##ER

df['ER'].value_counts()

df['ER'] = df['ER'].map({'Positive': 1, 'Negative': 0})

print(df['ER'].value_counts())

##PR

df['PR'].value_counts()

df['PR'] = df['PR'].map({'Positive': 1, 'Negative': 0})

print(df['PR'].value_counts())

##HER2

df['HER2'].value_counts()

df['HER2'] = df['HER2'].map({'Positive': 1, 'Negative': 0})

print(df['HER2'].value_counts())

#Survival months(수치형)

#Sequence number

### First VS Later[first=1,else=0]

df['Sequence number'].value_counts()

def first_vs_later(value):
    if value == 'One primary only':
        return None  # 제외
    elif value == '1st of 2 or more primaries':
        return 1
    else:
        return 0

# 적용
df['First_vs_Later'] = df['Sequence number'].apply(first_vs_later)

# None인 행 삭제
df = df[df['First_vs_Later'].notna()]
print(df["First_vs_Later"].value_counts())

### One VS Other[one=1,other=0]

df["One_vs_Other"] = df["Sequence number"].apply(
    lambda x: 1 if x == "One primary only" else 0
)
print(df["One_vs_Other"].value_counts())

===== [Sex] =====
Sex
Female    306641
Male        2403
Name: count, dtype: int64

===== [Age] =====
Age
65-69 years    45109
60-64 years    41898
70-74 years    41512
55-59 years    35023
50-54 years    30191
75-79 years    28290
45-49 years    25334
80-84 years    17008
40-44 years    16964
85-89 years     9023
35-39 years     8669
90+ years       4247
30-34 years     4185
25-29 years     1390
20-24 years      187
15-19 years       13
05-09 years        1
Name: count, dtype: int64

===== [Race] =====
Race
White                            237361
Black                             33594
Asian or Pacific Islander         33237
Unknown                            2558
American Indian/Alaska Native      2294
Name: count, dtype: int64

===== [Marital status] =====
Marital status
Married (including common law)    171937
Never married                      49652
Widowed                            38557
Divorced                           32988
Unknown                            10289
Separated                           3270
Unmarried or Domestic Partner       2351
Name: count, dtype: int64

===== [ER] =====
ER
Positive    262732
Negative     46312
Name: count, dtype: int64

===== [HER2] =====
HER2
Negative    268075
Positive     40969
Name: count, dtype: int64

===== [PR] =====
PR
Positive    229616
Negative     79428
Name: count, dtype: int64

===== [T/N/M Stage] =====
T/N/M Stage
1A    177101
1B     48244
2A     27899
4      17557
2B     13880
3B      8620
3A      7908
0       3924
3C      3911
Name: count, dtype: int64

===== [Behavior code] =====
Behavior code
Malignant    305214
In situ        3830
Name: count, dtype: int64

===== [Sequence number] =====
Sequence number
One primary only              228428
2nd of 2 or more primaries     49645
1st of 2 or more primaries     20442
3rd of 3 or more primaries      8800
4th of 4 or more primaries      1441
5th of 5 or more primaries       288
Name: count, dtype: int64

===== [Chemotherapy] =====
Chemotherapy
No/Unknown    196793
Yes           112251
Name: count, dtype: int64

===== [Mets all] =====
Mets all
None; no other metastases    305821
distant                        3181
general                          42
Name: count, dtype: int64

===== [Mets at bone] =====
Mets at bone
No         297165
Yes         11757
Unknown       122
Name: count, dtype: int64

===== [Mets at brain] =====
Mets at brain
No         307543
Yes          1282
Unknown       219
Name: count, dtype: int64

===== [Mets at liver] =====
Mets at liver
No         304760
Yes          4138
Unknown       146
Name: count, dtype: int64

===== [Mets at lung] =====
Mets at lung
No         303683
Yes          5136
Unknown       225
Name: count, dtype: int64

===== [Radiation] =====
Radiation
Beam radiation                                           164190
None/Unknown                                             120536
Refused (1988+)                                           13455
Recommended, unknown if administered                       7094
Radioactive implants (includes brachytherapy) (1988+)      3072
Radiation, NOS  method or source not specified              493
Combination of beam with implants or isotopes               181
Radioisotopes (1988+)                                        23
Name: count, dtype: int64

===== [Surgery Oth Reg/Dis] =====
Surgery Oth Reg/Dis
0                                                               302455
Non-primary surgical procedure performed                          2546
Non-primary surgical procedure to other regional sites            1698
Non-primary surgical procedure to distant site                    1590
Non-primary surgical procedure to distant lymph node(s)            440
Unknown; death certificate only                                    164
Any combo of sur proc to oth rg, dis lym nd, and/or dis site       151
Name: count, dtype: int64

===== [Surgery Prim Site] =====
Surgery Prim Site
22    128072
41     29873
0      27814
20     19039
23     17010
42     11789
30     11242
51     10869
24      9496
49      6548
45      5234
40      4534
47      3874
48      3830
52      3210
44      3200
43      3110
21      1295
50      1141
46      1002
59       953
55       785
75       753
57       654
53       600
58       553
54       513
99       422
80       361
61       306
56       165
62       143
19       118
63       115
90       105
60        68
76        49
68        33
64        32
69        29
66        22
65        18
73        14
74        13
67        12
72        10
70        10
71         6
Name: count, dtype: int64

===== [Rural-Urban] =====
Rural-Urban
Large Metro                                                     194135
Counties in metropolitan areas of 250,000 to 1 million pop       62416
Counties in metropolitan areas of lt 250 thousand pop            21562
Nonmetropolitan counties adjacent to a metropolitan area         19253
Nonmetropolitan counties not adjacent to a metropolitan area     11302
Unknown/missing/no match (Alaska or Hawaii - Entire State)         369
Unknown/missing/no match/Not 1990-2023                               7
Name: count, dtype: int64

===== [cancer treatment delay] =====
cancer treatment delay
0                      23509
Unable to calculate     9362
28                      7896
35                      7673
27                      6645
                       ...
514                        1
482                        1
390                        1
511                        1
490                        1
Name: count, Length: 519, dtype: int64

===== [Income] =====
Income
$85,000 - $89,999                         53850
$120,000+                                 42324
$100,000 - $109,999                       33450
$80,000 - $84,999                         26515
$110,000 - $119,999                       22274
$65,000 - $69,999                         22197
$75,000 - $79,999                         20939
$95,000 - $99,999                         20461
$90,000 - $94,999                         15659
$60,000 - $64,999                         11885
$55,000 - $59,999                         10651
$70,000 - $74,999                         10147
$50,000 - $54,999                          9057
$45,000 - $49,999                          5177
$40,000 - $44,999                          2531
< $40,000                                  1920
Unknown/missing/no match/Not 1990-2023        7
Name: count, dtype: int64

===== [Survival months] =====
Survival months
9     7057
6     6805
4     6707
2     6578
1     6499
10    6481
3     6418
18    6357
0     6349
12    6299
16    6255
8     6247
14    6224
13    6181
7     6180
20    6026
11    6018
15    5895
21    5839
5     5786
17    5726
19    5655
26    5550
24    5358
22    5353
27    5335
23    5271
25    5211
29    5116
38    5108
34    5002
35    4921
41    4861
37    4764
33    4737
36    4723
28    4717
43    4706
40    4689
50    4669
44    4611
52    4578
42    4561
46    4540
45    4489
39    4469
47    4418
30    4299
49    4220
56    4129
54    4114
48    4090
53    4063
58    4016
55    3916
51    3816
57    3783
59    3666
31    2872
32    2721
Name: count, dtype: int64

===== [Cancer Site] =====
Cancer Site
Breast    309044
Name: count, dtype: int64
Race_grouped
White                        237361
Black                         33594
Asian or Pacific Islander     33237
Other (Unknown/AIAN)           4852
Name: count, dtype: int64
        Race_Asian or Pacific Islander  Race_Black  Race_Other (Unknown/AIAN)  \
0                                False       False                      False
1                                False       False                      False
2                                False       False                      False
3                                 True       False                      False
4                                 True       False                      False
...                                ...         ...                        ...
309039                            True       False                      False
309040                           False       False                      False
309041                           False       False                      False
309042                           False        True                      False
309043                           False       False                      False

        Race_White
0             True
1             True
2             True
3            False
4            False
...            ...
309039       False
309040        True
309041        True
309042       False
309043        True

[309044 rows x 4 columns]
        Race_Asian or Pacific Islander  Race_Black  Race_Other (Unknown/AIAN)  \
0                                    0           0                          0
1                                    0           0                          0
2                                    0           0                          0
3                                    1           0                          0
4                                    1           0                          0
...                                ...         ...                        ...
309039                               1           0                          0
309040                               0           0                          0
309041                               0           0                          0
309042                               0           1                          0
309043                               0           0                          0

        Race_White
0                1
1                1
2                1
3                0
4                0
...            ...
309039           0
309040           1
309041           1
309042           0
309043           1

[309044 rows x 4 columns]
Sex
1    306641
0      2403
Name: count, dtype: int64
Age_group
0-29      1591
30-34     4185
35-39     8669
40-44    16964
45-49    25334
50-54    30191
55-59    35023
60-64    41898
65-69    45109
70-74    41512
75-79    28290
80-84    17008
85+      13270
Name: count, dtype: int64
Marital_group
Married               171937
Previously Married     74815
Single/Other           62292
Name: count, dtype: int64
        Marital_Married  Marital_Previously Married  Marital_Single/Other
0                 False                       False                  True
1                 False                        True                 False
2                 False                       False                  True
3                 False                        True                 False
4                  True                       False                 False
...                 ...                         ...                   ...
309039            False                        True                 False
309040             True                       False                 False
309041            False                        True                 False
309042            False                        True                 False
309043            False                        True                 False

[309044 rows x 3 columns]
        Marital_Married  Marital_Previously Married  Marital_Single/Other
0                     0                           0                     1
1                     0                           1                     0
2                     0                           0                     1
3                     0                           1                     0
4                     1                           0                     0
...                 ...                         ...                   ...
309039                0                           1                     0
309040                1                           0                     0
309041                0                           1                     0
309042                0                           1                     0
309043                0                           1                     0

[309044 rows x 3 columns]
Income
85,000 - 89,999      53850
120,000+             42324
100,000 - 109,999    33450
80,000 - 84,999      26515
110,000 - 119,999    22274
65,000 - 69,999      22197
75,000 - 79,999      20939
95,000 - 99,999      20461
90,000 - 94,999      15659
60,000 - 64,999      11885
55,000 - 59,999      10651
70,000 - 74,999      10147
50,000 - 54,999       9057
45,000 - 49,999       5177
40,000 - 44,999       2531
< 40,000              1920
Name: count, dtype: int64
Rural-Urban_grouped
Large metro           194135
Small/Medium metro     83978
Rural                  30555
Name: count, dtype: int64
        Rural-Urban_Large metro  Rural-Urban_Rural  \
0                          True              False
1                          True              False
2                          True              False
3                          True              False
4                          True              False
...                         ...                ...
309039                     True              False
309040                     True              False
309041                     True              False
309042                     True              False
309043                     True              False

        Rural-Urban_Small/Medium metro
0                                False
1                                False
2                                False
3                                False
4                                False
...                                ...
309039                           False
309040                           False
309041                           False
309042                           False
309043                           False

[308668 rows x 3 columns]
        Rural-Urban_Large metro  Rural-Urban_Rural  \
0                             1                  0
1                             1                  0
2                             1                  0
3                             1                  0
4                             1                  0
...                         ...                ...
309039                        1                  0
309040                        1                  0
309041                        1                  0
309042                        1                  0
309043                        1                  0

        Rural-Urban_Small/Medium metro
0                                    0
1                                    0
2                                    0
3                                    0
4                                    0
...                                ...
309039                               0
309040                               0
309041                               0
309042                               0
309043                               0

[308668 rows x 3 columns]
Behavior_code_num
0    304842
1      3826
Name: count, dtype: int64
Index(['Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'Chemotherapy',
       'Mets all', 'Mets at bone', 'Mets at brain', 'Mets at liver',
       'Mets at lung', 'Radiation', 'Surgery Oth Reg/Dis', 'Surgery Prim Site',
       'Rural-Urban', 'cancer treatment delay', 'Income', 'Survival months',
       'Cancer Site'],
      dtype='object')
Stage_Number
1    225345
2     41779
3     20439
4     17557
0      3924
Name: count, dtype: int64
Index(['Sex', 'Age', 'Race', 'Marital status', 'ER', 'HER2', 'PR',
       'T/N/M Stage', 'Behavior code', 'Sequence number', 'Chemotherapy',
       'Mets all', 'Mets at bone', 'Mets at brain', 'Mets at liver',
       'Mets at lung', 'Radiation', 'Surgery Oth Reg/Dis', 'Surgery Prim Site',
       'Rural-Urban', 'cancer treatment delay', 'Income', 'Survival months',
       'Cancer Site'],
      dtype='object')
Surgery_Reg_Group
0    302036
1      6407
Name: count, dtype: int64
Chemo_Binary
0    196408
1    112035
Name: count, dtype: int64
Mets_bone
0.0    296679
1.0     11647
Name: count, dtype: int64
Mets_brain
0.0    306900
1.0      1268
Name: count, dtype: int64
Mets_liver
0.0    304049
1.0      4045
Name: count, dtype: int64
Mets_lung
0.0    302944
1.0      5011
Name: count, dtype: int64
ER
1    261859
0     46096
Name: count, dtype: int64
PR
1    228888
0     79067
Name: count, dtype: int64
HER2
0    267173
1     40782
Name: count, dtype: int64
First_vs_Later
0.0    59941
1.0    20361
Name: count, dtype: int64
One_vs_Other
0    80302
Name: count, dtype: int64